._3T1iFy2maYycwqgFuzERyf:not(._1fMXTJK26Av1xwzGL5RI86) {
    width: fit-content;
    margin: auto;
    box-shadow: var(--elevated-shadow) !important;
    border-radius: var(--corner-radius-full);
    transform: translateY(-50%) !important;
    gap: 4px;
}
.j7NCONhD7F71W710neC_f {
    display: none;
}