::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    background: unset !important;
    display: none !important;
}
/* Game Info Collapsed */
._2L3s2nzh7yCnNESfI5_dN1 {
    width: 100%;
}