/* @import url("css/main/web/store.css"); */

/* Test Recolor */
/* --- COMMUNITY --- */
/* -- GENERAL -- */

/* Left (Sidebar) */

/* Right */
/* Account Details */

/* Store Preferences */

/* Family Management */

/* Security & Devices */

/* Cookies */

/* Notifications */

/* -- INVENTORY -- */
.error_ctn,
.fraud_warning_box,
.inventory_load_error {
    background: var(--md-sys-color-error-container) !important;
}
.fraud_warning,
.inventory_load_error_header .message {
    color: var(--md-sys-color-on-error-container) !important;
}
.trade_item_box,
.inventory_iteminfo .item_desc_content,
.item_scrap_actions,
.trade_item_box .item, .market_dialog_contents .item,
.item_market_actions, .steamdb_quick_sell {
    background: var(--md-sys-color-surface) !important;
}
.view_inventory_page .item.activeInfo, .view_inventory_page .item:hover {
    background: var(--md-sys-color-surface-variant) !important;
}
.item_desc_icon,
#tabcontent_inventory, .view_inventory_page {
    background: var(--md-sys-color-surface-container) !important;
}
.item_desc_game_info {
    color: var(--md-sys-color-outline) !important;
}
.hover_item_name,
.item_desc_content .item_desc_description {
    color: var(--md-sys-color-on-surface) !important;
}
.view_inventory_page #inventories {
    background: transparent !important;
}
.item_market_actions,
.filter_label, .filter_control_ctn {
    color: var(--md-sys-color-outline) !important;
}
.inventory_msg_content {
    color: var(--md-sys-color-on-surface) !important;
}
.item_market_actions a, .whiteLink {
    color: var(--md-sys-color-primary)
}
/* -- STORE -- */

/* -- FRIENDS -- */
.friends_nav h4 {
    color: rgb(var(--md-sys-color-on-surface)) !important;
    font-weight: 600 !important;
    margin-bottom: 4px;
}
.friends_nav a {
    border-radius: var(--corner-radius-full) !important;
    padding: 10px 8px 10px 16px !important;
    color: rgb(var(--md-sys-color-on-surface)) !important;
    background: transparent !important;
    /* color: var(--md-sys-color-on-secondary-container) !important;
    background: var(--md-sys-color-secondary-container) !important; */
}
.friends_nav a.active {
    color: var(--md-sys-color-on-secondary-container) !important;
    background: var(--md-sys-color-secondary-container) !important;
}
.friends_nav a:not(.active):hover {
    color: var(--md-sys-color-on-surface) !important;
    background: var(--menu-item-hover) !important;
}
.count {
    padding: 2px 6px !important;
    /* margin-top: -1px !important; */
    border-radius: var(--corner-radius-full) !important;
    /* color: var(--md-sys-color-on-error) !important;
    background: var(--md-sys-color-error) !important; */
    color: var(--md-sys-color-on-primary) !important;
    background: var(--md-sys-color-primary) !important;
}
/* Title */
.friends_header_bg {
    margin-bottom: 12px !important;
    background: var(--md-sys-color-surface-container) !important;
    border-bottom-left-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
}
.profile_friends.title_bar, .profile_groups.title_bar {
    border-radius: var(--corner-radius-medium) !important;
    background: var(--md-sys-color-surface-variant) !important;
}
/* Blocks */
.friend_block_v2 {
    background: var(--md-sys-color-surface-container) !important;
    border-radius: var(--corner-radius-medium) !important;
}
.friend_block_v2:hover {
    background: color-mix(in srgb, var(--md-sys-color-surface-container-highest), var(--md-sys-color-on-surface) var(--layer-action-hover)) !important;
}
/* remove later */
.friend_block_link_overlay {
    border: unset !important;
}
/* -- COMMON -- */
.profile_small_header_texture {
    background: var(--md-sys-color-surface-container) !important;
    border-bottom-left-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
}
/* -- FOOTER -- */
#footerText,
body.v6 #footer #footer_text {
    color: var(--md-sys-color-on-surface) !important;
}
#footer a {
    color: var(--md-sys-color-primary) !important;
}
#footer a:hover {
    color: color-mix(in srgb, var(--md-sys-color-on-surface), var(--md-sys-color-primary) 40%) !important;
}