:root {
    --theme-color: "Matugen";
    --hue-rotate: 220deg;
    <* for name, value in colors *>
    --md-sys-color-{{name | replace: "_", "-" }}: {{value.default.rgb}};
    <* endfor *>
}

/* 

Add this to your Matugen config
[templates.millennium]
input_path = '/matugen/template/path/here'
output_path = '~/.steam/steam/steamui/skins/Material-Theme/css/main/colors/matugen.css'

*/