/* Download Game Icon */
._2VtAqT03BpBsVdmxwptn9D ._1KrJ3sFAqPBN9mfpaNTU5F {
    box-shadow: unset;
}
._2VtAqT03BpBsVdmxwptn9D ._21vPQjHoo0uwud5lfCD_x- {
    background: unset;
}
.ip-YZhijAMZcuRoXBGiye ._1KrJ3sFAqPBN9mfpaNTU5F {
    height: 24px;
    width: 24px;
    margin-top: 2px;
}
/* Fix */
._2foCkpRXhqq0UGVE50BWqj,
._1TdaAqMFadi0UTqilrkelR {
    padding: 5px;
}
._2EQ7ghgqIdjKv9jsQC0Zq9 {
    padding: 0px 5px;
}