/* iframe & miniprofiles */
._38FqIwZQKW6BlRyzN66pi6,
._2QPdq7GZ_03AD1ioPixVXW {
    box-shadow: var(--elevated-shadow);
}
._38FqIwZQKW6BlRyzN66pi6 ._2HshOjKxsMkk2uUtP5Sp8x {
    display: none;
}
._1V52f_cM-aALy2XpzrJBIA ._22tloOR0Wp0KKLI9Bhcmm5 {
    background: unset;
}
._38FqIwZQKW6BlRyzN66pi6, ._38FqIwZQKW6BlRyzN66pi6 .rYBZBWnNW6m-N9vX0Chce,
._2QPdq7GZ_03AD1ioPixVXW {
    border-radius: var(--corner-radius-small);
}