._3pXasCUulX4jjqO79s4q_F ._2MkHZqf7MrgW3f8qGHiI8Z {
    display: none;
}
/* Divider */
._276E6ijBpjMA2_iTxNhhjc /* Resize */ {
    opacity: 0.5;
}
._1ENHEsrSLcTRtPQFl1F-wL {
    border: 0px solid transparent;
    border: unset;
}
._2Nq6ov7A1hGcHXVOXNt_OE {
    border-top: 0px solid transparent;
}


/* Left */

/* Home & Collections */
/* Home Library Icon */
._1ooROmAgkhoBH_o65yl9dJ {
    display: none;
}
/* Both */
._2TKEazUUS3TlniZfpc8OOe {
    box-shadow: unset;
    padding: unset;
    margin: 0px 5px;
    height: unset;
}
._3pSPluBgf0NeR1kkCLWMhR /* Home */ {
    border-top-left-radius: var(--corner-radius-medium);
    border-bottom-left-radius: var(--corner-radius-medium);
    border-top-right-radius: var(--corner-radius-extra-small);
    border-bottom-right-radius: var(--corner-radius-extra-small);
}
._3pSPluBgf0NeR1kkCLWMhR._30KGSfPjPskFlnrSxBfkiK /* Collections */ {
    border-top-left-radius: var(--corner-radius-extra-small);
    border-bottom-left-radius: var(--corner-radius-extra-small);
    border-top-right-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
}
/* Collection Icon */
.nC-pL16iUnIRcaj1UVnwq ._2tyaVs9BpqcW068aaOrO56 {
    border-radius: 2.5px;
}
/* Types */
._3mzKdQXht__YHo6PX1LmB6:first-child {
    border-top-left-radius: var(--corner-radius-medium);
    border-bottom-left-radius: var(--corner-radius-medium);
    border-top-right-radius: var(--corner-radius-extra-small);
    border-bottom-right-radius: var(--corner-radius-extra-small);
}
._3mzKdQXht__YHo6PX1LmB6:last-child {
    border-top-left-radius: var(--corner-radius-extra-small);
    border-bottom-left-radius: var(--corner-radius-extra-small);
    border-top-right-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
}
._1ZS_xta5HMXzR8JgxDH6n7 ._36r2az6roul_Oej7D4BMI6 {
    margin: 4px 0px 2px 4px;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6 {
    margin-top: -2px;
    padding: 4px 6px;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6:last-child {
    margin-right: -2px;
}
/* Scroll to top */
.uE7Pj4tb2n3_Bx4vjEX0a {
    border-radius: var(--corner-radius-full);
}
.uE7Pj4tb2n3_Bx4vjEX0a .SVGIcon_Arrow {
    border: unset;
}
/* Search */
._20QAC4WMXm8qFE8waUT5oo {
    gap: 4px;
}
._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS {
    border-radius: var(--corner-radius-full);
}
._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase {
    border-bottom: unset;
}
._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase:hover {
    box-shadow: unset;
}
/* Button Near Search */
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU {
    border-radius: var(--corner-radius-full);
}
._172OFJhtx4Jt2ydY6-9IUm, /* When Filter Opened */
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU._1Gjk27xaRIzt2zOSwOSP0N /* When Inputed */ {
    display: none;
}
._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: red;
}
/* Category */
._2sYIghGVXJr6tsQVvcryy8, /* Base */
._2sYIghGVXJr6tsQVvcryy8.sXMOsx8OIRalBMxO9yFY5, /* Chosen */
._3km84Vscc0uS91f0RN_30C /* RMB */ {
    border: unset;
    box-shadow: unset;
}
/* Games */
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ /* Chosen */ {
    box-shadow: unset;
}
._2kzMb_F7UTOEdecAFftN-l svg.f6-7-5CWFxNqF2BycKWlb.f6-7-5CWFxNqF2BycKWlb.f6-7-5CWFxNqF2BycKWlb circle /* Download Icon */ {
    stroke-width: 80px;
}
/* Bg Fix */
.u1xD3KJEgksF_J_5TLZzO, /* Collection */
._1bq4x9pa4-9RLY-dXWUZTp, /* Downloads */
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ .cMb2tLY-QjdRohM5U6Btp, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ .cMb2tLY-QjdRohM5U6Btp {
    background: unset;
}


/* Right (Main) */

._2Dd4T78PcCTUVgOtDGFY5j {
    border-top-left-radius: var(--corner-radius-large);
    border-bottom-left-radius: var(--corner-radius-large);
    /* border-radius: var(--corner-radius-large); */
}
._2sNr7PFYcJZWNkEMCDVVPR /* Bg Category Fix */ {
    background: unset;
}
._3bWISeqP3H2j6YJnFwVEwu:not(.E5k6bKwdV9GHvwwZHYfzA) /* Header Category Fix */ {
    display: none;
}

/* Overflow */
._2AUVZlzQq67qe3yhLZsPPB,
._3FmxxjyWNHU1PrBGnBe6tm._2l416KfEtI4CL0mCUEmOBw {
    overflow-y: overlay;
}

/* Scroll to Top */
._1J21tLst5SEhBPkVRT53UV {
    height: unset;
    padding-top: 100%;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: right;
}
/* aka FABs */
._1J21tLst5SEhBPkVRT53UV div {
    background: unset;
    box-shadow: unset;
    /* box-shadow: var(--elevated-shadow); */
    /* font-size: 0px; */
    text-align: end;
    padding: 18px; /* 50 */
    border-radius: var(--corner-radius-full);
    height: 100%;
    /* background-position-x: left;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path fill="none" stroke="var(--md-sys-color-primary)" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M24.008 14.1V42M12 26l12-12l12 12M12 6h24"/></svg>');
    background-size: 24px;
    background-position: center left 16px;
    background-repeat: no-repeat; */
    text-transform: unset;
    letter-spacing: unset;
}
._1J21tLst5SEhBPkVRT53UV._28ZR8gHitOrJaSLxcIAl2p div {
    border-radius: var(--corner-radius-large);
}
._1J21tLst5SEhBPkVRT53UV div:hover {
    box-shadow: unset;
    /* box-shadow: var(--elevated-shadow-hover); */
}
._1J21tLst5SEhBPkVRT53UV:hover._28ZR8gHitOrJaSLxcIAl2p {
    filter: unset;
}

/* Resize Divider */
._276E6ijBpjMA2_iTxNhhjc {
    height: 95% !important;
    opacity: 0 !important;
    width: 1px !important;
}
._276E6ijBpjMA2_iTxNhhjc {
    height: 30%;
    margin: auto;
    width: 4px;
    border-radius: var(--corner-radius-full);
    transition: all var(--animation-duration-short3) var(--animation-easing-standart-accelerate);
}
._276E6ijBpjMA2_iTxNhhjc:hover {
    height: 35%;
}
._2ZP8eOoQ1-pME4-pF91qSt ._276E6ijBpjMA2_iTxNhhjc {
    height: 38%;
}

/* Whats New */
/* Card */
.B-vCdL38RiJlhfSRgZv78 .SPz0ipLqfF1oAO7tdrkdY {
    background: unset;
}
.B-vCdL38RiJlhfSRgZv78 .SPz0ipLqfF1oAO7tdrkdY,
._3Rb_j3lgHaVVIud4Gla7_m {
    border-radius: var(--corner-radius-medium);
}
.B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5:hover ._1-W_ZQ4XyImc86SJFamGha, .gpfocus>.B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5 ._1-W_ZQ4XyImc86SJFamGha {
    transform: scale(1.1);
}
.B-vCdL38RiJlhfSRgZv78 ._3OSZu24hLN7YKjqGi7I2Xp /* Date */ {
    border-top-left-radius: var(--corner-radius-small);
    border-bottom-right-radius: var(--corner-radius-medium);
}
/* Title */
._1Gu1U2_kcg3AWLrXQgX5S6 div.DVBcpUzJ0x6kaRMfug0OJ {
    padding: 2px 4px;
    border-radius: var(--corner-radius-small);
}
._3_xMyCJAh_Dv99KgZ54P3j {
    padding: 4px;
    margin-top: unset;
    /* width: unset; */
    background: unset;
    border-radius: var(--corner-radius-medium);
}
/* Games */
.WYgDg9NyCcMIVuMyZ_NBC /* Cards */ {
    box-shadow: unset;
    border: unset;
    border-radius: var(--corner-radius-medium);
}
._54PuCatl_tYG836TOs4Mv .WYgDg9NyCcMIVuMyZ_NBC:hover:not(._3VOR2AeYATx3qSE0I-Pm-5), ._54PuCatl_tYG836TOs4Mv .WYgDg9NyCcMIVuMyZ_NBC._2YsY_x7hLyKlUqjX9bhn0R:not(._3VOR2AeYATx3qSE0I-Pm-5),
.WYgDg9NyCcMIVuMyZ_NBC:hover {
    box-shadow: var(--elevated-shadow);
}
/* Big Game */
._2d1hSvdpY5L2-GN1EnUb9Z {
    filter: unset;
}
._2nq-zpLz_Efnz7D3Qzi4mA /* Blur Image */ {
    display: none;
}
/* Play Button */
._3AjoLnMNKxYmNTGTJCLfgs {
    border-radius: var(--corner-radius-medium);
    box-shadow: unset;
}

/* Game Opened */
._3FmxxjyWNHU1PrBGnBe6tm._2l416KfEtI4CL0mCUEmOBw, /* Img Bg */
.HNbe3eZf6H7dtJ042x1vM, /* Img Bg */
.QlR9EFwTdUNm_J5vx54_Z /* Img Bg */ {
    border-radius: var(--corner-radius-large);
}
.HNbe3eZf6H7dtJ042x1vM /* Img Bg */ {
    width: 100%;
    max-width: unset;
    mask-image: none;
    -webkit-mask-image: none;
}
.QlR9EFwTdUNm_J5vx54_Z /* Img Bg */ {
    height: 100%;
}
._1IX7FPSY9Jb82KhBVBSkZa /* Remove paralax scroll effect */ {
    transform: none !important;
}
.HNbe3eZf6H7dtJ042x1vM._3_IUVzR9tpG_JKEjhwXEAb, .HNbe3eZf6H7dtJ042x1vM.HSQWw9HUAP6jtA2OZjS-u /* Shadow */ {
    mask-image: unset;
    -webkit-mask-image: unset;
    opacity: 0;
}
._2OOzYVWIHaKXm6_7sscT9i .Jbe--NUNw7sxbxGsMSjVa /* Bg */ {
    backdrop-filter: unset;
    background: unset;
}
/* Game Info */
._3DeO92O5aVkcdwEBCJDjWm._3fLo166MlaNqP8r8tTyRz, /* Play Category */
._31ptFGGMZrSQc5BCX1e5lm._3KfxIwlXEvum7FCD_AM2_t /* Bottom */ {
    backdrop-filter: unset;
}
._3Yf8b2v5oOD8Wqsxu04ar ._3fLo166MlaNqP8r8tTyRz {
    transition: background var(--animation-duration-short3) ease-in-out, border-radius var(--animation-duration-medium1) ease-in-out;
}
._3Yf8b2v5oOD8Wqsxu04ar:not(._39RheXihcN6H2k2muQTjkI) ._3fLo166MlaNqP8r8tTyRz /* Not Collapsed */ {
    background: transparent;
    border-top-left-radius: var(--corner-radius-large);
    border-top-right-radius: var(--corner-radius-large);
}
._3Yf8b2v5oOD8Wqsxu04ar._39RheXihcN6H2k2muQTjkI ._3fLo166MlaNqP8r8tTyRz /* Collapsed */ {
    border-radius: var(--corner-radius-none);
}
._3qDWQGB0rtwM3qpXTb11Q- svg circle, ._3qDWQGB0rtwM3qpXTb11Q-:hover .zvLq1GUCH3yLuqv_TXBJ1 svg circle {
    stroke: transparent;
}
/* Game Info Collapsed */
._2L3s2nzh7yCnNESfI5_dN1 {
    width: 100%;
}
._2_86QNCjVvJTL3Qe6Xztx_._2sKVnd_AUg44QSdoAp8Lne /* Shadow */ {
    display: none;
}
._2zxzStp5qY5M1evOm8keES {
    transition: all var(--animation-duration-short3) var(--animation-easing-standart-accelerate);
}
/* Game Info (Cloud / Playtime / etc) */
._1kiZKVbDe-9Ikootk57kpA /* Achievements */ {
    transition: all var(--animation-duration-short3) var(--animation-easing-standart-accelerate);
    border-radius: var(--corner-radius-medium);
}

/* Game Actions (Store / Community / etc */
._31ptFGGMZrSQc5BCX1e5lm._3KfxIwlXEvum7FCD_AM2_t,
._3-V8vjmrwuJM6Ws3tsjFJj>div  /* Buttons */ {
    background-image: unset;
    border-image: unset;
    border-image-source: unset;
    box-shadow: unset;
    border-radius: var(--corner-radius-medium);
}
._31ptFGGMZrSQc5BCX1e5lm._3KfxIwlXEvum7FCD_AM2_t:not(._2G5B7o_YoI__u11--EFjal) {
    background: unset !important;
}
._3-V8vjmrwuJM6Ws3tsjFJj ._25f0fX6qbgdB7O_lMrbhCN {
    padding: unset;
}
._7k4qmaN8SUMvv6u-L81uk {
    padding: unset;
    margin-right: 12px;
}
._38t1mljBjmJfqjpVzMT1CG /* Achievements Fix */ {
    border-top-left-radius: var(--corner-radius-medium);
    border-top-right-radius: var(--corner-radius-medium);
}
/* From your steam library */
.z8GYwNt_nbBZrf7OVjs-s {
    min-height: unset;
}
._2_86QNCjVvJTL3Qe6Xztx_ /* IDK, just being upper chips under from ur steam library */ {
    height: 0px;
    background: unset;
    margin-bottom: 0px;
}
/* You've played this game for X */
._3LE-6w1ItIAB4CKJFCa3Od {
    background: unset;
    padding: unset;
}
._3LE-6w1ItIAB4CKJFCa3Od ._2z8Na_s9JosX48wHF4HPiA {
    width: unset;
}
._2SAb6geDpe6toA1GaP0GjH {
    border-radius: var(--corner-radius-medium);
}
/* Buttons */
._1kCN0pAntrcGCSmcc-vYdk {
    margin: 0px 2px;
}
._1E6Ivnp3A4apXqQYtlQHEc ._1kCN0pAntrcGCSmcc-vYdk {
    border-top-left-radius: var(--corner-radius-extra-small);
    border-bottom-left-radius: var(--corner-radius-extra-small);
    border-top-right-radius: var(--corner-radius-extra-small);
    border-bottom-right-radius: var(--corner-radius-extra-small);
}
._1E6Ivnp3A4apXqQYtlQHEc ._1kCN0pAntrcGCSmcc-vYdk:first-child {
    border-top-left-radius: var(--corner-radius-medium);
    border-bottom-left-radius: var(--corner-radius-medium);
    border-top-right-radius: var(--corner-radius-extra-small);
    border-bottom-right-radius: var(--corner-radius-extra-small);
}
._1E6Ivnp3A4apXqQYtlQHEc ._1kCN0pAntrcGCSmcc-vYdk:last-child {
    border-top-left-radius: var(--corner-radius-extra-small);
    border-bottom-left-radius: var(--corner-radius-extra-small);
    border-top-right-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
}
/* Share Activity */
._3x31AgESSlUqX3D4MTHv2m ._1JlC29Ic6L-QvL-39X_d-X:focus {
    box-shadow: unset;
}
/* View Latest News */
._1EC1xjjUGqI7fqX6PVzJA3 {
    background: unset;
    border-radius: var(--corner-radius-full);
}
/* X Achieved */
.UVeN0kaD3zv1feMj_mMw5 .NEMXhMlqXOCJwfgWlHXhT {
    box-shadow: unset;
    border-radius: var(--corner-radius-medium);
}
._1j_gja8bHXjiS-BeSQk8hb ._1s_9cSxUjb4609MSH0EjWH ._39Y01uSRcLiDg5DneTTR0m, /* Title */
._1j_gja8bHXjiS-BeSQk8hb ._1s_9cSxUjb4609MSH0EjWH ._2gLHbXukQBdrIKhqEYVvOe /* Description */ {
    cursor: pointer;
}

/* load More Activity */
._3yTl3RiWfo-Itg-xp967wP ._39ZurKJQex6v69aXzvc_nj {
    border-radius: var(--corner-radius-full);
}

/* Updates */
._3QRf-tp5VddAF00vWY5Gn8, /* Small Updates */
._1AYE16384J_ecLpN0sEYc5, ._1HZy7BvOZuPT8feUwadL4W, /* Big Updates */
._39Zk32AvV5cr6g-83IVRVS, .LibriMVXcLl1HB60ZUp78 /* Major Updates */ {
    border: unset;
    border-image-source: unset;
    box-shadow: unset;
    border-radius: var(--corner-radius-medium);
}
._2tDv0EeJIdDmZLyfUE63t1 {
    color: var(--md-sys-color-on-surface-variant);
}
/* Big Img */
.VytJzt3Z_t6332-n24Yrc {
    border-radius: var(--corner-radius-small);
}
/* Major Line */
._3oMUSjOFNB0E9LWcL2sE7 {
    background: unset;
}
/* Major Img */ 
.fGDsmh9vz8h0RMEoRoAvF {
    border-radius: var(--corner-radius-medium);
}
/* Text Shadow */
._3fsjzvni7TQ1NphLHM_5r3, ._3zwBRDW1egliiT4pKYIXap, ._29bW1yCn25VTm4bFameBaV {
    text-shadow: unset;
}

/* Misc Fixes */
/* New To Library */
.N8aJrSpxQ6II4CY_aFdYI {
    box-shadow: unset;
    border-radius: var(--corner-radius-small);
}
._2jj5TjFhHD1lvxMlpJYek6 {
    top: -10px;
}
/* Avatar Bg Remove */
._3h-QRJGxnVOIExtHD1R0f2 {
    box-shadow: unset;
}
._3dncOt2dhpnFYQn-WYQ3Mb ._2JYwpg3-WbCSXH-w5h-zL_ {
    box-shadow: unset;
    border-radius: var(--corner-radius-full);
}
/* Steam Deck Compability */
.tvCvyQrDNndbXWp_b5__b {
    flex-direction: column;
}
.WYgDg9NyCcMIVuMyZ_NBC._3VOR2AeYATx3qSE0I-Pm-5.biTV-8rS2M65imVHU15Nv.xp7A-08Y404Of3FBHqX32.Panel:has(._2d1hSvdpY5L2-GN1EnUb9Z) .tvCvyQrDNndbXWp_b5__b:not(:has(.kX-tIJx4a9vKVuUkKJARv)) ._3BPFqWN5T-x8njyrRYM1CX {
    margin-bottom: 75px;
}
/* loading On Game Cover */
.kX-tIJx4a9vKVuUkKJARv._1wAArO4jx5Kth5YdKAQ_Sd._3BNwjsy5WltxayFptkx3KF {
    width: 100%;
    margin-bottom: 78px;
}
/* Loading On Game Hover */
._1KHOCigl8AaK2eHxQqPMlc {
    margin-top: -10px;
    margin-bottom: 10px;
}
