.MillenniumSettings {
    border-top: unset !important;
}

/* Original code from SpaceTheme */
/* .MillenniumSettings.ModalDialogPopup .OX7USkJ5dDP_icD00Gal6 .aFxOaYcllWYkCfVYQJFs0 .eKmEXJCm_lgme24Fp_HWt[data-theme-name="Material"] ._2VcTlXFC64Jtg9gvtT6cmY::after {
    content: "";
    z-index: -1;
    opacity: .2;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-image: url(../../../.github/banner.jpg);
    background-size: cover;
    background-position: center 35%;
} */

/* .MillenniumSettings ._2kwFFHckg8jvnwJfg9-la8 {
    padding-top: 18px !important;
}

.MillenniumSettings .DialogContent.CFTLX2wIKOK3hNV-fS7_V {
    margin-top: 16px !important;
} */