.MillenniumSettings {
    border-top: unset !important;
}

/* .MillenniumSettings ._2kwFFHckg8jvnwJfg9-la8 {
    padding-top: 18px !important;
}

.MillenniumSettings .DialogContent.CFTLX2wIKOK3hNV-fS7_V {
    margin-top: 16px !important;
} */