.VZ6x_grhNkIYJG__jEEyp.DesktopUI, .DesktopUI .VZ6x_grhNkIYJG__jEEyp,
.l_0WJ2pzm_5Zp7gfT_UZz ._3nhzM2H8Opkomzs5OG5oux {
    border: unset;
    box-shadow: unset;
}
.lat0M-V5X4uYd6Mpm1DJ1 ._2v9dClMg2Lmn8UVv6GUeJt,
.l_0WJ2pzm_5Zp7gfT_UZz ._3nhzM2H8Opkomzs5OG5oux {
    background: unset;
}
._464mFQmvIW2e9TQypXX7W ._2ltn2BK4fnrPEGzNwxx6bx {
    border-radius: 999px;
}
.l_0WJ2pzm_5Zp7gfT_UZz:focus ._3nhzM2H8Opkomzs5OG5oux, .l_0WJ2pzm_5Zp7gfT_UZz:hover ._3nhzM2H8Opkomzs5OG5oux {
    border: unset;
    outline: unset;
}

._1mt2mPMVEDfpOhhWePy9hc {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 64px;
    height: 64px;
    transform: translate(30%, 180%);
}
._1mt2mPMVEDfpOhhWePy9hc:focus .IfVUbt19eXIqaAuGh2i63, ._1mt2mPMVEDfpOhhWePy9hc:hover .IfVUbt19eXIqaAuGh2i63 {
    transform: unset;
}
._1mt2mPMVEDfpOhhWePy9hc ._3iVOCDb8eFFTeqiopupsej {
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translate(-95%, 30%);
}