
/* Window Control */
._39oUCO1OuizVPwcnnv88no .qP17eBPXkfezFfexZ4hC3 {
    margin-top: 4px;
    margin-right: 2px;
}
.DesktopUI .title-area .title-bar-actions {
    margin-right: 4px;
}
.title-area .title-bar-actions {
    gap: 7px;
}
.DesktopUI .title-area-icon, .title-area-icon {
    border-radius: var(--corner-radius-full);
    width: 24px;
    height: 24px;
}
/* Big Picture */
._2Szzh5sKyGgnLUR870zbDE, ._3LKQ3S_yqrebeNLF6aeiog:hover {
    border-radius: var(--corner-radius-full);
}

._3cykd-VfN_xBxf3Qxriccm {
    margin-right: 0px;
}

/* Remove Outlines */
._3Z7VQ1IMk4E3HsHvrkLNgo, ._3vCzSrrXZzZjVJFZNg9SGu {
    box-shadow: unset;
    border: unset;
}
.RGNMWtyj73_-WdhflrmuY._3WJCt_OkjPA6npxOtguSt5 ._2CmrnGY-Amtd83ScJkFvx2 {
    display: none;
    box-shadow: unset;
}

/* Notifications */
._1UgM1Pm8SbTWX7_2f-crGt {
    box-shadow: unset;
    background: unset;
    border: unset;
}
.MCa4RMSvWJwwWjcZP2wTT ._1oERP7bVictkby2hP4BBva {
    border-radius: var(--corner-radius-full);
}
/* Cards */
._1pIhbqWsrCVPaGGYc6fT-H {
    filter: unset;
}
._3zfQA8bEKpisPtsyT4SovP:hover {
    background: unset;
}
._3zfQA8bEKpisPtsyT4SovP:first-child:last-child ._3B8wRA4H7e_oSksYNqpSPv {
    border-radius: var(--corner-radius-medium);
}
._3zfQA8bEKpisPtsyT4SovP:first-child:not(:last-child) ._3B8wRA4H7e_oSksYNqpSPv {
    border-top-left-radius: var(--corner-radius-medium);
    border-top-right-radius: var(--corner-radius-medium);
    border-bottom-left-radius: var(--corner-radius-extra-small);
    border-bottom-right-radius: var(--corner-radius-extra-small);
}
._3zfQA8bEKpisPtsyT4SovP:not(:first-child):not(:last-child) ._3B8wRA4H7e_oSksYNqpSPv {
    border-top-left-radius: var(--corner-radius-extra-small);
    border-top-right-radius: var(--corner-radius-extra-small);
    border-bottom-left-radius: var(--corner-radius-extra-small);
    border-bottom-right-radius: var(--corner-radius-extra-small);
}
._3zfQA8bEKpisPtsyT4SovP:last-child:not(:first-child) ._3B8wRA4H7e_oSksYNqpSPv {
    border-top-left-radius: var(--corner-radius-extra-small);
    border-top-right-radius: var(--corner-radius-extra-small);
    border-bottom-left-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
}

/* STYLE 1 TEST */
/* ._3Z3ohQ8-1NKnCZkbS6fvy {
    position: absolute !important;
    top: 23px !important;
    left: 50% !important;
    width: fit-content !important;
    padding: 0 !important;
    transform: translate(-50%, -50%) !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
} */


/* STYLE 2 TEST */
/* ._39oUCO1OuizVPwcnnv88no ._1-9sir4j_KQiMqdkZjQN0u {
    position: absolute;
    right: 0px;
    top: 30px;
} */


/* Bottom */
/* ._3vCzSrrXZzZjVJFZNg9SGu {
    max-height: 0px;
} */
/* Add Game & Downloads & Friends n Chat */
/* ._2foCkpRXhqq0UGVE50BWqj, .ip-YZhijAMZcuRoXBGiye, ._1TdaAqMFadi0UTqilrkelR {
    border-radius: var(--corner-radius-large);
    padding: 16px;
    box-shadow: var(--elevated-shadow);
}
._2foCkpRXhqq0UGVE50BWqj:hover, .ip-YZhijAMZcuRoXBGiye:hover, ._1TdaAqMFadi0UTqilrkelR:hover {
    box-shadow: var(--elevated-shadow-hover);
}
._2foCkpRXhqq0UGVE50BWqj, ._1TdaAqMFadi0UTqilrkelR {
    gap: 12px;
} */
/* Add Game */
/* ._2foCkpRXhqq0UGVE50BWqj {
    position: absolute;
    left: 15px;
    bottom: 15px;
} */
/* Download Manager */
/* .ip-YZhijAMZcuRoXBGiye {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
} */
/* Friends n Chat */
/* ._1TdaAqMFadi0UTqilrkelR {
    position: absolute;
    right: 15px;
    bottom: 15px;
}
._1TdaAqMFadi0UTqilrkelR ._1KrJ3sFAqPBN9mfpaNTU5F {
    order: 1;
}
._1TdaAqMFadi0UTqilrkelR ._3OhUxFVlQYr9W5ThxstR8k {
    order: 2;
} */