/* Button */
/* https://m3.material.io/components/all-buttons */

.lat0M-V5X4uYd6Mpm1DJ1 .DjSvCZoKKfoNSmarsEcTS:focus {
    outline: unset;
}
/* Basic Button */
.lat0M-V5X4uYd6Mpm1DJ1 ._16fbihk6Bi9CXuksG7_tLt button,
button.DialogButton, .O_nD7TklmaIZ80TPx3rjt button.DialogButton, button.cXzBZxhPBl7fZs9LODEnc.DialogButton,
._2ohOQgahhMYnIEfAQmv9B8,
/* In BPM */
.GamepadMode button.cXzBZxhPBl7fZs9LODEnc.DialogButton,
.GamepadMode button.cXzBZxhPBl7fZs9LODEnc.DialogButton, button.cXzBZxhPBl7fZs9LODEnc.DialogButton:enabled, button.cXzBZxhPBl7fZs9LODEnc.DialogButton:active, button.cXzBZxhPBl7fZs9LODEnc.DialogButton:enabled:active:hover {
    border-radius: var(--corner-radius-full);
}
button.DialogButton::before {
    box-shadow: unset;
}
.DesktopUI ._1mt2mPMVEDfpOhhWePy9hc .IfVUbt19eXIqaAuGh2i63,
.inviteButton.inviteButtonJoinVoice,
.ChatMessageInvite .inviteButton {
    border: unset;
    border-radius: var(--corner-radius-full);
    outline: unset;
    box-shadow: unset;
}
._9Ql-oVe_j8E-vsDdyVdWo {
    outline-width: 2px;
    outline-style: solid;
}

/* Click */
button.DialogButton:enabled:active, button.DialogButton:enabled:active:hover, button.DialogButton:enabled:active.gpfocus {
    box-shadow: unset;
}

/* Big Card Button */
button.TEWmsM70ZLEOxLAjDMpcv.DialogButton,
/* In BPM */
.GamepadMode button.TEWmsM70ZLEOxLAjDMpcv.DialogButton,
.GamepadMode button.TEWmsM70ZLEOxLAjDMpcv.DialogButton, button.TEWmsM70ZLEOxLAjDMpcv.DialogButton:enabled, button.TEWmsM70ZLEOxLAjDMpcv.DialogButton:active, button.TEWmsM70ZLEOxLAjDMpcv.DialogButton:enabled:active:hover {
    border-radius: var(--corner-radius-medium);
}
button.TEWmsM70ZLEOxLAjDMpcv.DialogButton::after {
    border-radius: var(--corner-radius-medium);
}

/* Dropdown Button */   
.DialogDropDown, .DialogDropDown:hover {
    box-shadow: unset;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC, /* Library */
._3few7361SOf4k_YuKCmM62 .DialogDropDown,
.DesktopUI .MillenniumDesktopSidebar_Content .DialogDropDown._DialogInputContainer {
    border-radius: var(--corner-radius-small);
}
._30wJO3MC4x-I1OWpy1TAeE._DialogInputContainer {
    margin-top: 0px;
    margin-bottom: 0px;
}
/* Arrow Button */
.BRmrC-jnwpXqye4oYB21C button.DialogButton {
    scale: 0.75;
}
/* Root */
._1FyBL6obxHQ2Z2CsaV2Gbz._1FyBL6obxHQ2Z2CsaV2Gbz:not(.HkTNMTzgCdY-DINJyKsGL) .DialogDropDown, ._1FyBL6obxHQ2Z2CsaV2Gbz:not(.HkTNMTzgCdY-DINJyKsGL) ._1FyBL6obxHQ2Z2CsaV2Gbz .DialogDropDown {
    border-radius: var(--corner-radius-medium);
}

/* More Button */
._1WKUOT3FdB9-48MMP0Tz9l {
    border-radius: var(--corner-radius-full);
}

/* Install button & etc */
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Download, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Update, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.PreLoad, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Resume, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Pause, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.BorrowApp, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Stop, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Cancel, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Install, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.PurchaseApp,
.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Stream, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Connect, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Launch, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.PlayMusic, .DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Play {
    box-shadow: unset;
    border-radius: var(--corner-radius-none);
}

/* Library */
/* Play / Install / etc button */
._3ydigb6zZAjJ0JCDgHwSYA,
.BasicUI .QsZdWtHTlIK9KIKbscNTt {
    border-radius: var(--corner-radius-medium);
}
.BasicUI ._2AzIX5kl9k6JnxLfR5H4kX::after {
    border-radius: var(--corner-radius-medium) !important;
}
/* Update Button */
._1hhB2Wf7iExA15zh_lDQ_y ._3ydigb6zZAjJ0JCDgHwSYA /* Base (L) */ {
    border-top-left-radius: var(--corner-radius-medium);
    border-bottom-left-radius: var(--corner-radius-medium);
    border-top-right-radius: var(--corner-radius-extra-small);
    border-bottom-right-radius: var(--corner-radius-extra-small);
}
._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi /* Dropdown (R) */ {
    border-top-left-radius: var(--corner-radius-extra-small);
    border-bottom-left-radius: var(--corner-radius-extra-small);
    border-top-right-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
}
._1hhB2Wf7iExA15zh_lDQ_y ._3ydigb6zZAjJ0JCDgHwSYA:active {
    border-radius: var(--corner-radius-medium);
}
/* Split Button Toggle */
._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi:active {
    border-top-left-radius: var(--corner-radius-small);
    border-bottom-left-radius: var(--corner-radius-small);
}
body:has(._2yAm5LY_eu-Vg_52l0HFlM ._1mpeIo_E-qVxqb3DeRrQvl) ._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi {
    border-radius: var(--corner-radius-full);
}
body:has(._2yAm5LY_eu-Vg_52l0HFlM ._1mpeIo_E-qVxqb3DeRrQvl) ._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi svg {
    transform: rotate(360deg) !important;
}

/* Game Toolbar */
._3qDWQGB0rtwM3qpXTb11Q- {
    border-radius: var(--corner-radius-full);
}

/* Filter */
._1tBzypb5E2AwNuBuVns9Hl ._DialogInputContainer {
    border-radius: var(--corner-radius-extra-small);
}

/* Root Additional Content */
._1yEoLSbdr6RwEzqpyKLR4m ._3m6qdpFN3Mop0iw9ZE3RRa {
    border-radius: var(--corner-radius-full);
}

/* Button groups */
/* Default */
.RoSh6WoygUX6LLAoB20f3 {
    gap: 10px;
}
.DialogControlsSection ._2XSsNSGcWjGZ6z3fvqaRd5._3vgH-W3sYStLJYfV4JgE5b button.DialogButton,
.DialogControlsSection.RoSh6WoygUX6LLAoB20f3 button.DialogButton {
    padding: 8px 12px;
    line-height: 19px;
}
.DialogControlsSection ._2XSsNSGcWjGZ6z3fvqaRd5._3vgH-W3sYStLJYfV4JgE5b button.DialogButton:hover,
.DialogControlsSection.RoSh6WoygUX6LLAoB20f3 button.DialogButton:hover {
    padding: 8px 20px;
}
.DialogControlsSection ._2XSsNSGcWjGZ6z3fvqaRd5._3vgH-W3sYStLJYfV4JgE5b button.DialogButton:hover:has(+ button.DialogButton:hover),
.DialogControlsSection ._2XSsNSGcWjGZ6z3fvqaRd5._3vgH-W3sYStLJYfV4JgE5b button.DialogButton:has(+ button.DialogButton:hover),
.DialogControlsSection.RoSh6WoygUX6LLAoB20f3 button.DialogButton:hover:has(+ button.DialogButton:hover),
.DialogControlsSection.RoSh6WoygUX6LLAoB20f3 button.DialogButton:has(+ button.DialogButton:hover) {
    padding-right: 4px;
}
.DialogControlsSection ._2XSsNSGcWjGZ6z3fvqaRd5._3vgH-W3sYStLJYfV4JgE5b button.DialogButton,
.DialogControlsSection.RoSh6WoygUX6LLAoB20f3 button.DialogButton:hover + button.DialogButton {
    padding-left: 4px;
}
/* Choose single */
._1ml4SNc3LIyBDHIf8ekVSw {
    border: unset;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background: unset;
    box-shadow: unset;
}
.HijmccPB1BKyhOwhX1EVl {
    text-shadow: unset;
}
.HijmccPB1BKyhOwhX1EVl:not(:last-child) {
    margin-right: 2px;
}
.HijmccPB1BKyhOwhX1EVl:first-child:not(:last-child) {
    border-top-left-radius: var(--corner-radius-full);
    border-top-right-radius: var(--corner-radius-extra-large);
    border-bottom-left-radius: var(--corner-radius-full);
    border-bottom-right-radius: var(--corner-radius-extra-large);
}
.HijmccPB1BKyhOwhX1EVl:first-child:not(:last-child):active {
    border-top-right-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
}
.HijmccPB1BKyhOwhX1EVl:not(:first-child):not(:last-child) {
    border-top-left-radius: var(--corner-radius-small);
    border-top-right-radius: var(--corner-radius-small);
    border-bottom-left-radius: var(--corner-radius-small);
    border-bottom-right-radius: var(--corner-radius-small);
}
.HijmccPB1BKyhOwhX1EVl:not(:first-child):not(:last-child):active {
    border-top-left-radius: var(--corner-radius-extra-small);
    border-top-right-radius: var(--corner-radius-extra-small);
    border-bottom-left-radius: var(--corner-radius-extra-small);
    border-bottom-right-radius: var(--corner-radius-extra-small);
}
.HijmccPB1BKyhOwhX1EVl:last-child:not(:first-child) {
    border-top-left-radius: var(--corner-radius-extra-large);
    border-top-right-radius: var(--corner-radius-full);
    border-bottom-left-radius: var(--corner-radius-extra-large);
    border-bottom-right-radius: var(--corner-radius-full);
}
.HijmccPB1BKyhOwhX1EVl:last-child:not(:first-child):active {
    border-top-left-radius: var(--corner-radius-medium);
    border-bottom-left-radius: var(--corner-radius-medium);
}
.HijmccPB1BKyhOwhX1EVl._3-_jME_xsuvgT3Dvq4bw_q {
    border-radius: var(--corner-radius-full) !important;
}
.HijmccPB1BKyhOwhX1EVl._3-_jME_xsuvgT3Dvq4bw_q:first-child:not(:last-child):active {
    border-top-right-radius: var(--corner-radius-extra-small) !important;
    border-bottom-right-radius: var(--corner-radius-extra-small) !important;
}
.HijmccPB1BKyhOwhX1EVl._3-_jME_xsuvgT3Dvq4bw_q:not(:first-child):not(:last-child):active {
    border-radius: var(--corner-radius-extra-small) !important;
}
.HijmccPB1BKyhOwhX1EVl._3-_jME_xsuvgT3Dvq4bw_q:last-child:not(:first-child):active {
    border-top-left-radius: var(--corner-radius-extra-small) !important;
    border-bottom-left-radius: var(--corner-radius-extra-small) !important;
}
.HijmccPB1BKyhOwhX1EVl:not(._3-_jME_xsuvgT3Dvq4bw_q)+.HijmccPB1BKyhOwhX1EVl:not(._3-_jME_xsuvgT3Dvq4bw_q)::before {
    display: none;
}

/* Overlay */
/* Default Toolbar */
/* Not Checked */
._3OzkVrQFFPv0aV41N4MrHV._1kICdMcVupzY5a9PzI2JIU .fbu3l7kPiBeb3EKCjIb8n ._3ZLaTxSHxeGcoKlIy_-Z0L._1BXjK5v8XI_SEhGola5ftn:active,
._3OzkVrQFFPv0aV41N4MrHV._1kICdMcVupzY5a9PzI2JIU .fbu3l7kPiBeb3EKCjIb8n ._3ZLaTxSHxeGcoKlIy_-Z0L {
    border-radius: var(--corner-radius-full);
}
/* Checked */
._3OzkVrQFFPv0aV41N4MrHV._1kICdMcVupzY5a9PzI2JIU .fbu3l7kPiBeb3EKCjIb8n ._3ZLaTxSHxeGcoKlIy_-Z0L:not(._1BXjK5v8XI_SEhGola5ftn):active,
._3OzkVrQFFPv0aV41N4MrHV._1kICdMcVupzY5a9PzI2JIU .fbu3l7kPiBeb3EKCjIb8n ._3ZLaTxSHxeGcoKlIy_-Z0L._1BXjK5v8XI_SEhGola5ftn {
    border-radius: var(--corner-radius-medium);
}

/* Millenium Theme Settings */
.tool-tip-source:not(.tool-tip-source ~ .tool-tip-source):not(:has(~ .tool-tip-source)) ._3LM_ZckJp5yJYrL1OI_WqW button.DialogButton {
    border-radius: var(--corner-radius-medium);
}

.tool-tip-source:not(.tool-tip-source ~ .tool-tip-source):has(~ .tool-tip-source) ._3LM_ZckJp5yJYrL1OI_WqW button.DialogButton {
    border-top-left-radius: var(--corner-radius-medium);
    border-top-right-radius: var(--corner-radius-medium);
    border-bottom-left-radius: var(--corner-radius-extra-small);
    border-bottom-right-radius: var(--corner-radius-extra-small);
}
.tool-tip-source:has(~ .tool-tip-source):is(.tool-tip-source ~ .tool-tip-source) ._3LM_ZckJp5yJYrL1OI_WqW button.DialogButton {
    border-radius: var(--corner-radius-extra-small);
}
.tool-tip-source:not(:has(~ .tool-tip-source)):is(.tool-tip-source ~ .tool-tip-source) ._3LM_ZckJp5yJYrL1OI_WqW button.DialogButton {
    border-top-left-radius: var(--corner-radius-extra-small);
    border-top-right-radius: var(--corner-radius-extra-small);
    border-bottom-left-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
}

.MillenniumDesktopSidebar .MillenniumDesktopSidebar_Content .MillenniumSideBar_LibraryItemButton {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    margin-bottom: 2px !important;
}

/* Collections */
._33bWWYKdaxI_uMvK0TPjm4 ._3vDq3loNLE6O8iHtj6rOfX ._25n_zgE_sgrYzl4G-YE8VN {
    border: unset;
    border-radius: var(--corner-radius-full);
}
._33bWWYKdaxI_uMvK0TPjm4 ._3vDq3loNLE6O8iHtj6rOfX ._25n_zgE_sgrYzl4G-YE8VN:focus {
    border: unset;
    border-radius: var(--corner-radius-full);
}