/* Bars */
/* https://m3.material.io/components/bottom-app-bar/overview */
/* https://m3.material.io/components/top-app-bar/overview */

/* Buttons */
/* News & Notificaitons */
._5wILZhsLODVwGfcJ0hKmJ,
.RtSv39ZoBOySnb8XQ5hJf {
    padding: 0px 12px;
    border-radius: var(--corner-radius-full);
}
._2Szzh5sKyGgnLUR870zbDE {
    min-width: 28px;
}