/* Checkbox */
/* https://m3.material.io/components/checkbox/overview */

.DialogCheckbox.Active .SVGIcon_DialogCheck path {
    stroke-dashoffset: 0 !important;
}

#svgid_53, #svgid_54 {
    display: none;
}
.DialogCheckbox,
._2n6FNLKyb6al_YPk13xS7S ._2qURXDJ4ZtfSVOesDk7A73 .DialogCheckbox /* Settings */ {
    box-shadow: unset;
    border-width: 2px;
    border-style: solid;
    border-radius: var(--corner-radius-extra-small);
    box-sizing: border-box;
}
.DialogCheckbox .SVGIcon_DialogCheck {
    margin-top: unset;
    margin-inline-start: unset;
}
.PP7LM0Ow1K5qkR8WElLpt .DialogCheckbox {
    border-width: 0px !important;
}
.PP7LM0Ow1K5qkR8WElLpt .DialogCheckbox_Container.DNDCheckBox .DialogCheckbox {
    border-width: 2px !important;
}
._1FyBL6obxHQ2Z2CsaV2Gbz .DialogCheckbox svg {
    margin-left: unset;
}
.DialogCheckbox_Container.DNDCheckBox {
    gap: 4px;
}
.DialogCheckbox_Container.DNDCheckBox .DialogCheckbox {
    margin-inline-end: unset;
}