/* Menu */
/* https://m3.material.io/components/menus/overview */

/* Fix */
._30wJO3MC4x-I1OWpy1TAeE._DialogInputContainer,
.PP7LM0Ow1K5qkR8WElLpt, ._3qIuY9S_vXm3IQS-uE9SRS .PP7LM0Ow1K5qkR8WElLp {
    padding: 4px;
    box-shadow: var(--elevated-shadow) !important;
}

/* Inside */
/* Container */
._2yAm5LY_eu-Vg_52l0HFlM,
.PP7LM0Ow1K5qkR8WElLpt, ._3qIuY9S_vXm3IQS-uE9SRS .PP7LM0Ow1K5qkR8WElLp,
.DesktopUI ._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz ._DialogInputContainer,
._170Npw5h84elypMSQ8zNDI ._1ennWu_xj2YF8FRYgJ2M2H ._1axoiZsC1RBp22JQmxiBIc.MIMuVt_bcI4rYVo1e14kR ._32e6rHniKd5ztOQ1lYIulu {
    box-shadow: var(--elevated-shadow) !important;
    border-radius: var(--corner-radius-large) !important;
}
._2EstNjFIIZm_WUSKm5Wt7n {
    gap: 2px;
}
/* Items */
._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem,
._2oAiZidGyUxL-hfupFDQ2m,
.EDl_mzaY3WxkgmYVD8W4d ._1BAKXmqQdWRWmWX9_CbhuY._2_iY4UJOlWDXNQ21c-a3hD.DialogCheckbox_Container /* Games and Software */ {
    border-radius: var(--corner-radius-extra-small) !important;
}
._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:first-of-type:last-of-type,
._2oAiZidGyUxL-hfupFDQ2m:first-of-type:last-of-type,
.EDl_mzaY3WxkgmYVD8W4d ._1BAKXmqQdWRWmWX9_CbhuY._2_iY4UJOlWDXNQ21c-a3hD.DialogCheckbox_Container:first-of-type:last-of-type /* Games and Software */ {
    border-radius: var(--corner-radius-medium) !important;
}
._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:first-of-type:not(:last-of-type),
._2oAiZidGyUxL-hfupFDQ2m:first-of-type:not(:last-of-type),
.EDl_mzaY3WxkgmYVD8W4d ._1BAKXmqQdWRWmWX9_CbhuY._2_iY4UJOlWDXNQ21c-a3hD.DialogCheckbox_Container:first-of-type:not(:last-of-type) /* Games and Software */ {
    border-top-left-radius: var(--corner-radius-medium) !important;
    border-top-right-radius: var(--corner-radius-medium) !important;
}
._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:last-of-type:not(:first-of-type),
._2oAiZidGyUxL-hfupFDQ2m:last-of-type:not(:first-of-type),
.EDl_mzaY3WxkgmYVD8W4d ._1BAKXmqQdWRWmWX9_CbhuY._2_iY4UJOlWDXNQ21c-a3hD.DialogCheckbox_Container:last-of-type:not(:first-of-type) /* Games and Software */ {
    border-bottom-left-radius: var(--corner-radius-medium) !important;
    border-bottom-right-radius: var(--corner-radius-medium) !important;
}
/* Fix For Root */
._14wqdluDeDnnEcg3OSLEmd ._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:not(:has(~ .contextMenuItem)) {
    border-bottom-left-radius: var(--corner-radius-medium) !important;
    border-bottom-right-radius: var(--corner-radius-medium) !important;
}
/* Click Item */
._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:has(svg path[d="M31.09 4.38L13 22.46L5.41 14.88L1.88 18.41L13 29.54L34.62 7.91L31.09 4.38Z"]):active /* Selected Online Status */ {
    border-radius: var(--corner-radius-medium) !important;
}
/* Selected Item */
._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:has(svg path[d="M31.09 4.38L13 22.46L5.41 14.88L1.88 18.41L13 29.54L34.62 7.91L31.09 4.38Z"]) /* Selected Online Status */ {
    border-radius: var(--corner-radius-medium) !important;
}
/* Primary Button */
.Z5iAXBkRFGnwpXsO8ANTl._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem {
    border-radius: var(--corner-radius-medium) !important;
}
/* Divider */
.WUOrULWKkGLl3ZUQdDXg8.WUOrULWKkGLl3ZUQdDXg8+._1n7Wloe5jZ6fSuvV18NNWI {
    border-top: unset;
}
.WUOrULWKkGLl3ZUQdDXg8 {
    height: 1px;
}
.WUOrULWKkGLl3ZUQdDXg8,
._2jXHP0742MyApMUVUM8IFn._21GPYlKBCLsHQpTsHw_RL_ {
    width: 95%;
    margin: auto;
}
.WUOrULWKkGLl3ZUQdDXg8:last-child {
    display: none;
}

/* Fixes */
._30wJO3MC4x-I1OWpy1TAeE._DialogInputContainer {
    border-radius: var(--corner-radius-large);
    gap: 2px;
}

/* Root Fixes */
.DesktopUI ._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz ._DialogInputContainer {
    /* border-bottom-left-radius: unset !important;
    border-bottom-right-radius: unset !important; */
    background: transparent !important;
    box-shadow: unset !important;
    margin: 4px !important;
    padding: unset !important;
}
.DesktopUI ._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz .lYnGtW6EEZqmYUVJH2wLC {
    padding: 8px 16px !important;
}
.ContextMenuPopupBody, /* Root */
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU ._1dgAMymUAUYzUcZjUjOFm7 .Woh0kBQCmatzC1daBX9i6 {
    box-shadow: var(--elevated-shadow) !important;
}
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU ._1dgAMymUAUYzUcZjUjOFm7 .Woh0kBQCmatzC1daBX9i6 {
    border-radius: var(--corner-radius-medium);
    border-top-left-radius: 0px;
}

/* Toolbar Fix */
._14wqdluDeDnnEcg3OSLEmd .PP7LM0Ow1K5qkR8WElLpt {
    box-shadow: unset !important;
}

/* Storage */
._3YelWui4gQvucX_bHwvl15, ._1rihlgVMF4Q_fFZDnXeVt5, ._5bG9Iwr014pu3H1SPRwYh {
    font-family: unset;
}

/* Root Menu Fix */
._3pofGqV0buiKAfMPEs3_82 {
    background: transparent !important;
}
html._14wqdluDeDnnEcg3OSLEmd ._2EstNjFIIZm_WUSKm5Wt7n {
    margin: 4px;
    padding: unset;
}
._1n7Wloe5jZ6fSuvV18NNWI:not(.contextMenuGameTitle), ._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI {
    padding: 10px 20px;
}
/* On Game Event Click */
._1n7Wloe5jZ6fSuvV18NNWI.contextMenuGameTitle {
    border-radius: var(--corner-radius-medium);
}
._1n7Wloe5jZ6fSuvV18NNWI .contextMenuGameHeader .GameHeader {
    border-radius: var(--corner-radius-small);
}
.contextMenuGameTitleBlurCropContainer {
    -webkit-mask: unset;
    mask: unset;
}
/* Game Title */
.contextMenuGameTitle {
    background: unset !important;
}

/* Library Dropdown Fix */
._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz ._DialogInputContainer, /* Category Filter */
._1ZpBQtDqcKBbfIIv01Vs1R>div.DesktopUI, ._1ZpBQtDqcKBbfIIv01Vs1R>div /* Sort Filter */ {
    background: unset !important;
    box-shadow: unset !important;
}
._2U_Y7A-0lddoJdrJBvf8JE {
    margin-top: unset;
}
._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz ._DialogInputContainer {
    padding: unset !important;
    padding-top: 8px !important;
}

/* Games and Software */
.PP7LM0Ow1K5qkR8WElLpt.EDl_mzaY3WxkgmYVD8W4d._2yAm5LY_eu-Vg_52l0HFlM {
    padding: 4px;
}
/* Default Checkbox */
.EDl_mzaY3WxkgmYVD8W4d ._1BAKXmqQdWRWmWX9_CbhuY._2_iY4UJOlWDXNQ21c-a3hD.DialogCheckbox_Container {
    padding: 8px 16px;
    margin-bottom: 2px;
}
/* Active Checkbox */
.EDl_mzaY3WxkgmYVD8W4d ._1BAKXmqQdWRWmWX9_CbhuY._2_iY4UJOlWDXNQ21c-a3hD.DialogCheckbox_Container:has(.DialogCheckbox.Active) {
    border-radius: var(--corner-radius-medium);
}
/* Remove BG */
.EDl_mzaY3WxkgmYVD8W4d ._1BAKXmqQdWRWmWX9_CbhuY._2_iY4UJOlWDXNQ21c-a3hD.DialogCheckbox_Container .DialogCheckbox {
    background: unset;
    box-shadow: unset;
}