/* Menu */
/* https://m3.material.io/components/menus/overview */

/* Fix */
._30wJO3MC4x-I1OWpy1TAeE._DialogInputContainer,
.PP7LM0Ow1K5qkR8WElLpt, ._3qIuY9S_vXm3IQS-uE9SRS .PP7LM0Ow1K5qkR8WElLp {
    padding: 8px 0px;
    box-shadow: var(--elevated-shadow) !important;
}

/* Inside */ 
._2yAm5LY_eu-Vg_52l0HFlM,
.PP7LM0Ow1K5qkR8WElLpt, ._3qIuY9S_vXm3IQS-uE9SRS .PP7LM0Ow1K5qkR8WElLp,
.DesktopUI ._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz ._DialogInputContainer,
._170Npw5h84elypMSQ8zNDI ._1ennWu_xj2YF8FRYgJ2M2H ._1axoiZsC1RBp22JQmxiBIc.MIMuVt_bcI4rYVo1e14kR ._32e6rHniKd5ztOQ1lYIulu {
    box-shadow: var(--elevated-shadow) !important;
    border-radius: var(--corner-radius-small) !important;
}
.DesktopUI ._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz ._DialogInputContainer {
    border-bottom-left-radius: unset !important;
    border-bottom-right-radius: unset !important;
}
.ContextMenuPopupBody, /* Root */
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU ._1dgAMymUAUYzUcZjUjOFm7 .Woh0kBQCmatzC1daBX9i6 {
    box-shadow: var(--elevated-shadow) !important;
}
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU ._1dgAMymUAUYzUcZjUjOFm7 .Woh0kBQCmatzC1daBX9i6 {
    border-radius: var(--corner-radius-medium);
    border-top-left-radius: 0px;
}

/* Storage */
._3YelWui4gQvucX_bHwvl15, ._1rihlgVMF4Q_fFZDnXeVt5, ._5bG9Iwr014pu3H1SPRwYh {
    font-family: unset;
}

/* Root Menu Fix */
html._14wqdluDeDnnEcg3OSLEmd ._2EstNjFIIZm_WUSKm5Wt7n {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: unset;
}
._1n7Wloe5jZ6fSuvV18NNWI:not(.contextMenuGameTitle), ._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI {
    padding: 8px 22px;
}
/* On Game Event Click */
._1n7Wloe5jZ6fSuvV18NNWI.contextMenuGameTitle {
    border-radius: var(--corner-radius-medium);
}
._1n7Wloe5jZ6fSuvV18NNWI .contextMenuGameHeader .GameHeader {
    border-radius: var(--corner-radius-small);
}
.contextMenuGameTitleBlurCropContainer {
    -webkit-mask: unset;
    mask: unset;
}
/* Game Title */
.contextMenuGameTitle {
    background: unset !important;
}

/* Library Dropdown Fix */
._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz ._DialogInputContainer, /* Category Filter */
._1ZpBQtDqcKBbfIIv01Vs1R>div.DesktopUI, ._1ZpBQtDqcKBbfIIv01Vs1R>div /* Sort Filter */ {
    background: unset !important;
    box-shadow: unset !important;
}
._2U_Y7A-0lddoJdrJBvf8JE {
    margin-top: unset;
}
._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz ._DialogInputContainer {
    padding: unset !important;
    padding-top: 8px !important;
}