/* Navigation */
/* https://m3.material.io/components/navigation-bar/overview */
/* https://m3.material.io/components/navigation-drawer/overview */
/* https://m3.material.io/components/navigation-rail/overview */

/* Drawer */
._18QCu-7MTzd51UpVbYysDy {
    padding-left: 8px;
    padding-right: 8px;
}

/* Buttons */
._1-vlriAtKYDViAEunue4VO {
    border-radius: var(--corner-radius-full);
}
/* ._1-vlriAtKYDViAEunue4VO:hover {
    color: unset;
} */
