/* Segmented Buttons */
/* https://m3.material.io/components/segmented-buttons/overview */

/* Background */
._1ml4SNc3LIyBDHIf8ekVSw {
    border-radius: var(--corner-radius-full);
    border-style: solid;
    border-width: 1.5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background: unset;
    box-shadow: unset;
}
/* Buttons */
.HijmccPB1BKyhOwhX1EVl {
    border-radius: var(--corner-radius-none);
    background: unset;
    margin-right: 0px;
    text-shadow: unset;
}
.HijmccPB1BKyhOwhX1EVl:first-child, .HijmccPB1BKyhOwhX1EVl:first-child::after {
    border-top-left-radius: var(--corner-radius-full);
    border-bottom-left-radius: var(--corner-radius-full);
}
.HijmccPB1BKyhOwhX1EVl:last-child, .HijmccPB1BKyhOwhX1EVl:last-child::after {
    border-top-right-radius: var(--corner-radius-full);
    border-bottom-right-radius: var(--corner-radius-full);
}

/* Line */
.HijmccPB1BKyhOwhX1EVl:not(._3-_jME_xsuvgT3Dvq4bw_q)+.HijmccPB1BKyhOwhX1EVl:not(._3-_jME_xsuvgT3Dvq4bw_q)::before {
    height: 100%;
    left: 0px;
}
.HijmccPB1BKyhOwhX1EVl+.HijmccPB1BKyhOwhX1EVl::before {
    content: "";
    height: 100%;
    left: 0px;
    width: 1px;
    position: absolute;
}
