/* Text Fields */
/* https://m3.material.io/components/text-fields/overview */

.DialogTextInputBase,
._3x31AgESSlUqX3D4MTHv2m ._1JlC29Ic6L-QvL-39X_d-X,
.lat0M-V5X4uYd6Mpm1DJ1 ._2GBWeup5cttgbTw8FM3tfx,
._3ayYOCw_ZCm0rF1vDVmwfO .rG9v6g24n_n7jdI7rK5zY ._3OIDlxU9x7bhWVKKi8wwaH ._2cXhAZJGVLrDD_TVE6hdwq,
.sLyAbUma18eNqN7YC1iNz {
    border: unset;
    outline: 0px solid transparent !important;
    box-shadow: unset !important;
    border-top-left-radius: var(--corner-radius-extra-small) !important;
    border-top-right-radius: var(--corner-radius-extra-small) !important;
    border-bottom-left-radius: var(--corner-radius-none) !important;
    border-bottom-right-radius: var(--corner-radius-none) !important;
    border-bottom-width: 2px !important;
    border-bottom-style: solid;
    font-family: unset;
}
.DialogTextInputBase:not(:disabled):hover {
    outline: 0px solid transparent;
}
.DesktopUI .DialogTextInputBase:focus, .DialogTextInputBase:focus-within {
    outline: 0px solid transparent;
    box-shadow: unset;
}
.sLyAbUma18eNqN7YC1iNz:focus {
    border-bottom-width: 2px !important;
    border-bottom-style: solid;
}