/* Tooltips */
/* https://m3.material.io/components/tooltips/overview */

._2FxbHJzYoH024ko7zqcJOf, /* Base */
._3XGRklQrZMakU2xaYB0cLD, /* Library */
._2iiN7AYnLFTRFRiuipiYJz, /* Friends */
._2E5LHvnVEF3dSVV3wrDflm, /* Date */
._36iQ4zr5AiMWVmmiHee0mN, .W_hPU2JmhTx3oUqDN9ADo /* Emoji */ {
    border-radius: var(--corner-radius-extra-small);
    text-shadow: unset;
    box-shadow: unset;
}

/* Store / Community */
/* Rich Tooltip */
body .xa7nOX-adjA- {
    border-radius: var(--corner-radius-extra-small);
    text-shadow: unset;
    box-shadow: var(--elevated-shadow);
}

/* Custom Tooltip for Theme Settings */
.DialogContent_InnerWidth .MillenniumThemes_ThemeItem[data-theme-name="Material"] .MillenniumItem_Version::before,
.MillenniumDesktopSidebar_EditorContent .eKmEXJCm_lgme24Fp_HWt ._2VcTlXFC64Jtg9gvtT6cmY::before,
.MillenniumDesktopSidebar_EditorContent .eKmEXJCm_lgme24Fp_HWt ._2VcTlXFC64Jtg9gvtT6cmY ._3jMlJm4PQCA8SfNlUR99Fo::before,
.MillenniumDesktopSidebar_EditorContent .eKmEXJCm_lgme24Fp_HWt ._1W1to_azoBRG95oNAFpf9Q::before,
.MillenniumDesktopSidebar_EditorContent .eKmEXJCm_lgme24Fp_HWt ._1W1to_azoBRG95oNAFpf9Q ._3cln317VYhwhE1fSeMCG48::before {
    position: absolute;
    /* top: -20px; */
    /* bottom: -10%; */
    left: 0;
    right: 0;
    transform: translateY(-110%) !important;
    opacity: 0;
    margin: auto;
    padding: 5px 8px;
    font-size: 13px;
    font-weight: 400;
    width: fit-content;
    height: fit-content;
    max-width: 300px;
    border-radius: var(--corner-radius-extra-small);
    z-index: 100;
    transition: opacity .25s;
    user-select: none;
    pointer-events: none;
}
.DialogContent_InnerWidth .MillenniumThemes_ThemeItem[data-theme-name="Material"] .MillenniumItem_Version:hover::before,
.MillenniumDesktopSidebar_EditorContent .eKmEXJCm_lgme24Fp_HWt ._2VcTlXFC64Jtg9gvtT6cmY:hover::before,
.MillenniumDesktopSidebar_EditorContent .eKmEXJCm_lgme24Fp_HWt ._2VcTlXFC64Jtg9gvtT6cmY ._3jMlJm4PQCA8SfNlUR99Fo:hover::before,
.MillenniumDesktopSidebar_EditorContent .eKmEXJCm_lgme24Fp_HWt ._1W1to_azoBRG95oNAFpf9Q:hover::before,
.MillenniumDesktopSidebar_EditorContent .eKmEXJCm_lgme24Fp_HWt ._1W1to_azoBRG95oNAFpf9Q ._3cln317VYhwhE1fSeMCG48:hover::before {
    opacity: 1;
}

.DialogContent_InnerWidth .MillenniumThemes_ThemeItem[data-theme-name="Material"] .MillenniumItem_Version::before {
    content: var(--hook-last-commit-hash);
    max-width: unset;
    right: unset;
    left: unset;
    transform: translate(-20%, -125%) !important;
}

.MillenniumDesktopSidebar_EditorContent .Color:nth-child(2) ._1W1to_azoBRG95oNAFpf9Q ._3cln317VYhwhE1fSeMCG48:nth-of-type(2)::before {
    content: "...\\Steam\\millenium\\themes\\Material-Theme\\matugentemplate.css";
}

.MillenniumDesktopSidebar_EditorContent .Color:nth-child(2) ._1W1to_azoBRG95oNAFpf9Q ._3cln317VYhwhE1fSeMCG48:nth-of-type(4)::before {
    content: "Theme Settings -> Colors -> Custom Accent Color";
}

.MillenniumDesktopSidebar_EditorContent .Font:nth-child(4) ._1W1to_azoBRG95oNAFpf9Q::after {
    content: "(?)";
    position: absolute;
    /* margin-left: 70px; */
    margin-top: -10px;
    font-size: 8px;
}

.MillenniumDesktopSidebar_EditorContent .Font:nth-child(4) ._1W1to_azoBRG95oNAFpf9Q::before {
    content: "For \"Custom\" create \"customFont.css\" inside theme folder";
}

/* .MillenniumDesktopSidebar_EditorContent .Ripple.Effect:nth-child(3) ._3jMlJm4PQCA8SfNlUR99Fo::before {
    content: "Currently breaking lists";
} */