.online .nOdcT-MoOaXGePXLyPe0H, ._3yD46y5pd3zOGR7CzKs0mC.online,
:not(.friendInviteContainer) .online .ContextMenuButton .SVGIcon_DownArrowContextMenu,
._1DsumfIa3MlkzUV9EXY5W9.online ._2n0EiKMGRP-r_BI5tDtttu,
.KxAI_M9gWx3OnKSshHOs6.online .SVGIcon_SteamDeck path, .KxAI_M9gWx3OnKSshHOs6.online .SVGIcon_VRIcon path, .KxAI_M9gWx3OnKSshHOs6.online .SVGIcon_MobilePhone path, .KxAI_M9gWx3OnKSshHOs6.online .SVGIcon_BigPicture path,
._1xTATKELHR-lRS_s3A4yzd ._2jZ0A5VjGTNGTQm03FbLrF.online ._1SWhpi9ByGQrwHGQgTJCF5, ._1xTATKELHR-lRS_s3A4yzd ._2jZ0A5VjGTNGTQm03FbLrF.online ._3c5GOobmMUyjAWTosaUKUS {
    color: var(--md-sys-color-primary);
    fill: var(--md-sys-color-primary);
}
._1xTATKELHR-lRS_s3A4yzd ._2jZ0A5VjGTNGTQm03FbLrF.online ._2-pwJCHlrc7zxN4iup2TR7 ._1FgWIOIaRCAekjhGj0zFWq {
    color: color-mix(in srgb, var(--md-sys-color-primary), var(--md-sys-color-surface) 40%);
}
.online ._3xUpb5DWXPFNcHHIcv-9pe.right,
.online ._3xUpb5DWXPFNcHHIcv-9pe.bottom {
    background: var(--md-sys-color-primary);
}

:root {
    --indicator-online: var(--md-sys-color-primary);
    --indicator-away: color-mix(in srgb, var(--md-sys-color-primary), var(--md-sys-color-surface) 40%);
}