@import url(common.css);
._1R9r2OBCxAmtuUVrgBEUBw:not(._3Ehhd5MxErV_bXQE4qVhzB):not(.ZsU8nIIpj8MJn0vzMzSp1) ._3d_bT685lnWotXxgzKW6am.yDr03475kalWBTwAE-Rnw  {
    border-radius: var(--corner-radius-extra-small);
}
._2kzMb_F7UTOEdecAFftN-l,
._1GTWEgiW95vRIhUWfk6omo {
    border-radius: var(--corner-radius-extra-small);
}
/* Community */
.recent_game_discussion .playerAvatar, .recent_game_discussion .playerAvatar img {
    border-radius: var(--corner-radius-extra-small) !important;
}