/* Replace Online Icon */

/* Mini-Profile */
.miniprofile_playersection .playersection_avatar {
	border: unset !important;
}
.miniprofile_playersection .playersection_avatar img {
	outline: 2px solid;
}
.miniprofile_playersection .playersection_avatar.border_color_offline img {
	outline-color: var(--indicator-offline);
}
.miniprofile_playersection .playersection_avatar.border_color_online img {
	outline-color: var(--indicator-online);
}
.miniprofile_playersection .playersection_avatar.border_color_in-game img {
	outline-color: var(--indicator-ingame);
}

/* Library / Community */
.nibodjvvrm86uCfnnAn4g ._3xUpb5DWXPFNcHHIcv-9pe.bottom,
.nibodjvvrm86uCfnnAn4g ._3xUpb5DWXPFNcHHIcv-9pe.right, 
._3xUpb5DWXPFNcHHIcv-9pe,
/* Notifications */
._1iutOH026zK2dbpsMFDmMm,
.ChatRoomSpeaker .speaker .speakerStatus, .ChatMsgSlashEmote .speaker .speakerStatus  {
	visibility: hidden !important;
}
.friend_block_link_overlay {
	border: unset !important;
}
.player_avatar img {
	border: unset !important;
	outline: 2px solid;
}
/* Friends */
._3h-QRJGxnVOIExtHD1R0f2 {
	outline: 1px solid;
}
/* Notifications */
._32niVn3s7EKoKY0-pASwDJ {
	outline: 2px solid;
}
/* Offline */
.friend_block_link_overlay img,
._3h-QRJGxnVOIExtHD1R0f2,
._2NdiftmP-B3C4LPWnNGTCB:has(._1iutOH026zK2dbpsMFDmMm) ._32niVn3s7EKoKY0-pASwDJ  {
	outline-color: var(--indicator-offline);
}
/* Online */
.friend_block_link_overlay.online img,
.online ._3h-QRJGxnVOIExtHD1R0f2,
._2NdiftmP-B3C4LPWnNGTCB:has(._1iutOH026zK2dbpsMFDmMm.online) ._32niVn3s7EKoKY0-pASwDJ {
	outline-color: var(--indicator-online);
}
/* Away */
.friend_block_link_overlay.away img,
.awayOrSnooze ._3h-QRJGxnVOIExtHD1R0f2,
._2NdiftmP-B3C4LPWnNGTCB:has(._1iutOH026zK2dbpsMFDmMm.away) ._32niVn3s7EKoKY0-pASwDJ {
	outline: 1px dashed var(--indicator-away);
}
/* Ingame */
.friend_block_link_overlay.in-game img,
.ingame ._3h-QRJGxnVOIExtHD1R0f2,
._2NdiftmP-B3C4LPWnNGTCB:has(._1iutOH026zK2dbpsMFDmMm.ingame) ._32niVn3s7EKoKY0-pASwDJ {
	outline-color: var(--indicator-ingame);
}
/* Ingame Away */
.ingame.awayOrSnooze ._3h-QRJGxnVOIExtHD1R0f2,
._2NdiftmP-B3C4LPWnNGTCB:has(._1iutOH026zK2dbpsMFDmMm.ingame-away) ._32niVn3s7EKoKY0-pASwDJ {
	outline: 1px dashed var(--indicator-ingame-away);
}