._1xTATKELHR-lRS_s3A4yzd ._36eQg-jp1ebbdaE6PBniHu, ._3h-QRJGxnVOIExtHD1R0f2 {
    border-radius: var(--corner-radius-small) !important;
}
/* MiniProfile */
._36eQg-jp1ebbdaE6PBniHu img {
    border-radius: var(--corner-radius-small) !important;
}

/* Account Menu BG */
._3yD46y5pd3zOGR7CzKs0mC {
    border-radius: var(--corner-radius-small) !important;
}