:root {
    --theme-color: "Blue";
    --hue-rotate: 360deg;
    --md-sys-color-primary: var(--scheme-light, rgb(65 95 145)) var(--scheme-dark, rgb(170 199 255));
    --md-sys-color-surface-tint: var(--scheme-light, rgb(65 95 145)) var(--scheme-dark, rgb(170 199 255));
    --md-sys-color-on-primary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(10 48 95));
    --md-sys-color-primary-container: var(--scheme-light, rgb(214 227 255)) var(--scheme-dark, rgb(40 71 119));
    --md-sys-color-on-primary-container: var(--scheme-light, rgb(40 71 119)) var(--scheme-dark, rgb(214 227 255));
    --md-sys-color-secondary: var(--scheme-light, rgb(86 95 113)) var(--scheme-dark, rgb(190 198 220));
    --md-sys-color-on-secondary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(40 49 65));
    --md-sys-color-secondary-container: var(--scheme-light, rgb(218 226 249)) var(--scheme-dark, rgb(62 71 89));
    --md-sys-color-on-secondary-container: var(--scheme-light, rgb(62 71 89)) var(--scheme-dark, rgb(218 226 249));
    --md-sys-color-tertiary: var(--scheme-light, rgb(112 85 117)) var(--scheme-dark, rgb(221 188 224));
    --md-sys-color-on-tertiary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(63 40 68));
    --md-sys-color-tertiary-container: var(--scheme-light, rgb(250 216 253)) var(--scheme-dark, rgb(87 62 92));
    --md-sys-color-on-tertiary-container: var(--scheme-light, rgb(87 62 92)) var(--scheme-dark, rgb(250 216 253));
    --md-sys-color-error: var(--scheme-light, rgb(186 26 26)) var(--scheme-dark, rgb(255 180 171));
    --md-sys-color-on-error: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(105 0 5));
    --md-sys-color-error-container: var(--scheme-light, rgb(255 218 214)) var(--scheme-dark, rgb(147 0 10));
    --md-sys-color-on-error-container: var(--scheme-light, rgb(147 0 10)) var(--scheme-dark, rgb(255 218 214));
    --md-sys-color-background: var(--scheme-light, rgb(249 249 255)) var(--scheme-dark, rgb(17 19 24));
    --md-sys-color-on-background: var(--scheme-light, rgb(25 28 32)) var(--scheme-dark, rgb(226 226 233));
    --md-sys-color-surface: var(--scheme-light, rgb(249 249 255)) var(--scheme-dark, rgb(17 19 24));
    --md-sys-color-on-surface: var(--scheme-light, rgb(25 28 32)) var(--scheme-dark, rgb(226 226 233));
    --md-sys-color-surface-variant: var(--scheme-light, rgb(224 226 236)) var(--scheme-dark, rgb(68 71 78));
    --md-sys-color-on-surface-variant: var(--scheme-light, rgb(68 71 78)) var(--scheme-dark, rgb(196 198 208));
    --md-sys-color-outline: var(--scheme-light, rgb(116 119 127)) var(--scheme-dark, rgb(142 144 153));
    --md-sys-color-outline-variant: var(--scheme-light, rgb(196 198 208)) var(--scheme-dark, rgb(68 71 78));
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: var(--scheme-light, rgb(46 48 54)) var(--scheme-dark, rgb(226 226 233));
    --md-sys-color-inverse-on-surface: var(--scheme-light, rgb(240 240 247)) var(--scheme-dark, rgb(46 48 54));
    --md-sys-color-inverse-primary: var(--scheme-light, rgb(170 199 255)) var(--scheme-dark, rgb(65 95 145));
    --md-sys-color-primary-fixed: var(--scheme-light, rgb(214 227 255)) var(--scheme-dark, rgb(214 227 255));
    --md-sys-color-on-primary-fixed: var(--scheme-light, rgb(0 27 62)) var(--scheme-dark, rgb(0 27 62));
    --md-sys-color-primary-fixed-dim: var(--scheme-light, rgb(170 199 255)) var(--scheme-dark, rgb(170 199 255));
    --md-sys-color-on-primary-fixed-variant: var(--scheme-light, rgb(40 71 119)) var(--scheme-dark, rgb(40 71 119));
    --md-sys-color-secondary-fixed: var(--scheme-light, rgb(218 226 249)) var(--scheme-dark, rgb(218 226 249));
    --md-sys-color-on-secondary-fixed: var(--scheme-light, rgb(19 28 43)) var(--scheme-dark, rgb(19 28 43));
    --md-sys-color-secondary-fixed-dim: var(--scheme-light, rgb(190 198 220)) var(--scheme-dark, rgb(190 198 220));
    --md-sys-color-on-secondary-fixed-variant: var(--scheme-light, rgb(62 71 89)) var(--scheme-dark, rgb(62 71 89));
    --md-sys-color-tertiary-fixed: var(--scheme-light, rgb(250 216 253)) var(--scheme-dark, rgb(250 216 253));
    --md-sys-color-on-tertiary-fixed: var(--scheme-light, rgb(40 19 46)) var(--scheme-dark, rgb(40 19 46));
    --md-sys-color-tertiary-fixed-dim: var(--scheme-light, rgb(221 188 224)) var(--scheme-dark, rgb(221 188 224));
    --md-sys-color-on-tertiary-fixed-variant: var(--scheme-light, rgb(87 62 92)) var(--scheme-dark, rgb(87 62 92));
    --md-sys-color-surface-dim: var(--scheme-light, rgb(217 217 224)) var(--scheme-dark, rgb(17 19 24));
    --md-sys-color-surface-bright: var(--scheme-light, rgb(249 249 255)) var(--scheme-dark, rgb(55 57 62));
    --md-sys-color-surface-container-lowest: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(12 14 19));
    --md-sys-color-surface-container-low: var(--scheme-light, rgb(243 243 250)) var(--scheme-dark, rgb(25 28 32));
    --md-sys-color-surface-container: var(--scheme-light, rgb(237 237 244)) var(--scheme-dark, rgb(29 32 36));
    --md-sys-color-surface-container-high: var(--scheme-light, rgb(231 232 238)) var(--scheme-dark, rgb(40 42 47));
    --md-sys-color-surface-container-highest: var(--scheme-light, rgb(226 226 233)) var(--scheme-dark, rgb(51 53 58));
}