:root {
    --theme-color: "Purple";
    --hue-rotate: 60deg;
    --md-sys-color-primary: var(--scheme-light, rgb(98 86 144)) var(--scheme-dark, rgb(204 190 255));
    --md-sys-color-surface-tint: var(--scheme-light, rgb(98 86 144)) var(--scheme-dark, rgb(204 190 255));
    --md-sys-color-on-primary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(51 39 94));
    --md-sys-color-primary-container: var(--scheme-light, rgb(231 222 255)) var(--scheme-dark, rgb(74 62 118));
    --md-sys-color-on-primary-container: var(--scheme-light, rgb(74 62 118)) var(--scheme-dark, rgb(231 222 255));
    --md-sys-color-secondary: var(--scheme-light, rgb(97 91 113)) var(--scheme-dark, rgb(202 195 220));
    --md-sys-color-on-secondary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(50 46 65));
    --md-sys-color-secondary-container: var(--scheme-light, rgb(231 223 248)) var(--scheme-dark, rgb(73 68 88));
    --md-sys-color-on-secondary-container: var(--scheme-light, rgb(73 68 88)) var(--scheme-dark, rgb(231 223 248));
    --md-sys-color-tertiary: var(--scheme-light, rgb(125 82 98)) var(--scheme-dark, rgb(238 184 203));
    --md-sys-color-on-tertiary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(73 37 52));
    --md-sys-color-tertiary-container: var(--scheme-light, rgb(255 217 229)) var(--scheme-dark, rgb(98 59 74));
    --md-sys-color-on-tertiary-container: var(--scheme-light, rgb(98 59 74)) var(--scheme-dark, rgb(255 217 229));
    --md-sys-color-error: var(--scheme-light, rgb(186 26 26)) var(--scheme-dark, rgb(255 180 171));
    --md-sys-color-on-error: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(105 0 5));
    --md-sys-color-error-container: var(--scheme-light, rgb(255 218 214)) var(--scheme-dark, rgb(147 0 10));
    --md-sys-color-on-error-container: var(--scheme-light, rgb(147 0 10)) var(--scheme-dark, rgb(255 218 214));
    --md-sys-color-background: var(--scheme-light, rgb(253 247 255)) var(--scheme-dark, rgb(20 19 24));
    --md-sys-color-on-background: var(--scheme-light, rgb(28 27 32)) var(--scheme-dark, rgb(230 225 233));
    --md-sys-color-surface: var(--scheme-light, rgb(253 247 255)) var(--scheme-dark, rgb(20 19 24));
    --md-sys-color-on-surface: var(--scheme-light, rgb(28 27 32)) var(--scheme-dark, rgb(230 225 233));
    --md-sys-color-surface-variant: var(--scheme-light, rgb(230 224 236)) var(--scheme-dark, rgb(72 69 78));
    --md-sys-color-on-surface-variant: var(--scheme-light, rgb(72 69 78)) var(--scheme-dark, rgb(202 196 207));
    --md-sys-color-outline: var(--scheme-light, rgb(121 117 127)) var(--scheme-dark, rgb(147 143 153));
    --md-sys-color-outline-variant: var(--scheme-light, rgb(202 196 207)) var(--scheme-dark, rgb(72 69 78));
    --md-sys-color-shadow: var(--scheme-light, rgb(0 0 0)) var(--scheme-dark, rgb(0 0 0));
    --md-sys-color-scrim: var(--scheme-light, rgb(0 0 0)) var(--scheme-dark, rgb(0 0 0));
    --md-sys-color-inverse-surface: var(--scheme-light, rgb(49 47 53)) var(--scheme-dark, rgb(230 225 233));
    --md-sys-color-inverse-on-surface: var(--scheme-light, rgb(244 239 247)) var(--scheme-dark, rgb(49 47 53));
    --md-sys-color-inverse-primary: var(--scheme-light, rgb(204 190 255)) var(--scheme-dark, rgb(98 86 144));
    --md-sys-color-primary-fixed: var(--scheme-light, rgb(231 222 255)) var(--scheme-dark, rgb(231 222 255));
    --md-sys-color-on-primary-fixed: var(--scheme-light, rgb(30 16 72)) var(--scheme-dark, rgb(30 16 72));
    --md-sys-color-primary-fixed-dim: var(--scheme-light, rgb(204 190 255)) var(--scheme-dark, rgb(204 190 255));
    --md-sys-color-on-primary-fixed-variant: var(--scheme-light, rgb(74 62 118)) var(--scheme-dark, rgb(74 62 118));
    --md-sys-color-secondary-fixed: var(--scheme-light, rgb(231 223 248)) var(--scheme-dark, rgb(231 223 248));
    --md-sys-color-on-secondary-fixed: var(--scheme-light, rgb(29 25 43)) var(--scheme-dark, rgb(29 25 43));
    --md-sys-color-secondary-fixed-dim: var(--scheme-light, rgb(202 195 220)) var(--scheme-dark, rgb(202 195 220));
    --md-sys-color-on-secondary-fixed-variant: var(--scheme-light, rgb(73 68 88)) var(--scheme-dark, rgb(73 68 88));
    --md-sys-color-tertiary-fixed: var(--scheme-light, rgb(255 217 229)) var(--scheme-dark, rgb(255 217 229));
    --md-sys-color-on-tertiary-fixed: var(--scheme-light, rgb(49 17 31)) var(--scheme-dark, rgb(49 17 31));
    --md-sys-color-tertiary-fixed-dim: var(--scheme-light, rgb(238 184 203)) var(--scheme-dark, rgb(238 184 203));
    --md-sys-color-on-tertiary-fixed-variant: var(--scheme-light, rgb(98 59 74)) var(--scheme-dark, rgb(98 59 74));
    --md-sys-color-surface-dim: var(--scheme-light, rgb(221 216 224)) var(--scheme-dark, rgb(20 19 24));
    --md-sys-color-surface-bright: var(--scheme-light, rgb(253 247 255)) var(--scheme-dark, rgb(58 56 62));
    --md-sys-color-surface-container-lowest: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(15 13 19));
    --md-sys-color-surface-container-low: var(--scheme-light, rgb(247 242 250)) var(--scheme-dark, rgb(28 27 32));
    --md-sys-color-surface-container: var(--scheme-light, rgb(241 236 244)) var(--scheme-dark, rgb(32 31 36));
    --md-sys-color-surface-container-high: var(--scheme-light, rgb(236 230 238)) var(--scheme-dark, rgb(43 41 47));
    --md-sys-color-surface-container-highest: var(--scheme-light, rgb(230 225 233)) var(--scheme-dark, rgb(54 52 58));
}
