:root {
    --theme-color: "Purple";
    --hue-rotate: 60deg;
    --md-sys-color-primary: var(--scheme-light, rgb(103 84 142)) var(--scheme-dark, rgb(210 188 253));
    --md-sys-color-surface-tint: var(--scheme-light, rgb(103 84 142)) var(--scheme-dark, rgb(210 188 253));
    --md-sys-color-on-primary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(56 38 92));
    --md-sys-color-primary-container: var(--scheme-light, rgb(234 221 255)) var(--scheme-dark, rgb(79 61 116));
    --md-sys-color-on-primary-container: var(--scheme-light, rgb(79 61 116)) var(--scheme-dark, rgb(234 221 255));
    --md-sys-color-secondary: var(--scheme-light, rgb(99 91 112)) var(--scheme-dark, rgb(205 194 219));
    --md-sys-color-on-secondary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(52 45 64));
    --md-sys-color-secondary-container: var(--scheme-light, rgb(233 222 248)) var(--scheme-dark, rgb(75 67 88));
    --md-sys-color-on-secondary-container: var(--scheme-light, rgb(75 67 88)) var(--scheme-dark, rgb(233 222 248));
    --md-sys-color-tertiary: var(--scheme-light, rgb(126 82 94)) var(--scheme-dark, rgb(240 183 197));
    --md-sys-color-on-tertiary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(74 37 48));
    --md-sys-color-tertiary-container: var(--scheme-light, rgb(255 217 225)) var(--scheme-dark, rgb(100 59 70));
    --md-sys-color-on-tertiary-container: var(--scheme-light, rgb(100 59 70)) var(--scheme-dark, rgb(255 217 225));
    --md-sys-color-error: var(--scheme-light, rgb(186 26 26)) var(--scheme-dark, rgb(255 180 171));
    --md-sys-color-on-error: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(105 0 5));
    --md-sys-color-error-container: var(--scheme-light, rgb(255 218 214)) var(--scheme-dark, rgb(147 0 10));
    --md-sys-color-on-error-container: var(--scheme-light, rgb(147 0 10)) var(--scheme-dark, rgb(255 218 214));
    --md-sys-color-background: var(--scheme-light, rgb(254 247 255)) var(--scheme-dark, rgb(21 18 24));
    --md-sys-color-on-background: var(--scheme-light, rgb(29 27 32)) var(--scheme-dark, rgb(231 224 232));
    --md-sys-color-surface: var(--scheme-light, rgb(254 247 255)) var(--scheme-dark, rgb(21 18 24));
    --md-sys-color-on-surface: var(--scheme-light, rgb(29 27 32)) var(--scheme-dark, rgb(231 224 232));
    --md-sys-color-surface-variant: var(--scheme-light, rgb(231 224 235)) var(--scheme-dark, rgb(73 69 78));
    --md-sys-color-on-surface-variant: var(--scheme-light, rgb(73 69 78)) var(--scheme-dark, rgb(203 196 207));
    --md-sys-color-outline: var(--scheme-light, rgb(122 117 127)) var(--scheme-dark, rgb(148 143 153));
    --md-sys-color-outline-variant: var(--scheme-light, rgb(203 196 207)) var(--scheme-dark, rgb(73 69 78));
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: var(--scheme-light, rgb(50 47 53)) var(--scheme-dark, rgb(231 224 232));
    --md-sys-color-inverse-on-surface: var(--scheme-light, rgb(245 239 247)) var(--scheme-dark, rgb(50 47 53));
    --md-sys-color-inverse-primary: var(--scheme-light, rgb(210 188 253)) var(--scheme-dark, rgb(103 84 142));
    --md-sys-color-primary-fixed: var(--scheme-light, rgb(234 221 255)) var(--scheme-dark, rgb(234 221 255));
    --md-sys-color-on-primary-fixed: var(--scheme-light, rgb(35 15 70)) var(--scheme-dark, rgb(35 15 70));
    --md-sys-color-primary-fixed-dim: var(--scheme-light, rgb(210 188 253)) var(--scheme-dark, rgb(210 188 253));
    --md-sys-color-on-primary-fixed-variant: var(--scheme-light, rgb(79 61 116)) var(--scheme-dark, rgb(79 61 116));
    --md-sys-color-secondary-fixed: var(--scheme-light, rgb(233 222 248)) var(--scheme-dark, rgb(233 222 248));
    --md-sys-color-on-secondary-fixed: var(--scheme-light, rgb(31 24 43)) var(--scheme-dark, rgb(31 24 43));
    --md-sys-color-secondary-fixed-dim: var(--scheme-light, rgb(205 194 219)) var(--scheme-dark, rgb(205 194 219));
    --md-sys-color-on-secondary-fixed-variant: var(--scheme-light, rgb(75 67 88)) var(--scheme-dark, rgb(75 67 88));
    --md-sys-color-tertiary-fixed: var(--scheme-light, rgb(255 217 225)) var(--scheme-dark, rgb(255 217 225));
    --md-sys-color-on-tertiary-fixed: var(--scheme-light, rgb(49 16 27)) var(--scheme-dark, rgb(49 16 27));
    --md-sys-color-tertiary-fixed-dim: var(--scheme-light, rgb(240 183 197)) var(--scheme-dark, rgb(240 183 197));
    --md-sys-color-on-tertiary-fixed-variant: var(--scheme-light, rgb(100 59 70)) var(--scheme-dark, rgb(100 59 70));
    --md-sys-color-surface-dim: var(--scheme-light, rgb(222 216 224)) var(--scheme-dark, rgb(21 18 24));
    --md-sys-color-surface-bright: var(--scheme-light, rgb(254 247 255)) var(--scheme-dark, rgb(59 56 62));
    --md-sys-color-surface-container-lowest: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(15 13 19));
    --md-sys-color-surface-container-low: var(--scheme-light, rgb(248 241 250)) var(--scheme-dark, rgb(29 27 32));
    --md-sys-color-surface-container: var(--scheme-light, rgb(242 236 244)) var(--scheme-dark, rgb(33 31 36));
    --md-sys-color-surface-container-high: var(--scheme-light, rgb(236 230 238)) var(--scheme-dark, rgb(43 41 47));
    --md-sys-color-surface-container-highest: var(--scheme-light, rgb(231 224 232)) var(--scheme-dark, rgb(54 52 58));
}
