:root {
    --theme-color: "Red";
    --hue-rotate: 145deg;
    --md-sys-color-primary: var(--scheme-light, rgb(143 76 56)) var(--scheme-dark, rgb(255 181 160));
    --md-sys-color-surface-tint: var(--scheme-light, rgb(143 76 56)) var(--scheme-dark, rgb(255 181 160));
    --md-sys-color-on-primary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(86 31 15));
    --md-sys-color-primary-container: var(--scheme-light, rgb(255 219 209)) var(--scheme-dark, rgb(114 53 35));
    --md-sys-color-on-primary-container: var(--scheme-light, rgb(114 53 35)) var(--scheme-dark, rgb(255 219 209));
    --md-sys-color-secondary: var(--scheme-light, rgb(119 87 78)) var(--scheme-dark, rgb(231 189 178));
    --md-sys-color-on-secondary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(68 42 34));
    --md-sys-color-secondary-container: var(--scheme-light, rgb(255 219 209)) var(--scheme-dark, rgb(93 64 55));
    --md-sys-color-on-secondary-container: var(--scheme-light, rgb(93 64 55)) var(--scheme-dark, rgb(255 219 209));
    --md-sys-color-tertiary: var(--scheme-light, rgb(108 93 47)) var(--scheme-dark, rgb(216 197 141));
    --md-sys-color-on-tertiary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(59 47 5));
    --md-sys-color-tertiary-container: var(--scheme-light, rgb(245 225 167)) var(--scheme-dark, rgb(83 70 25));
    --md-sys-color-on-tertiary-container: var(--scheme-light, rgb(83 70 25)) var(--scheme-dark, rgb(245 225 167));
    --md-sys-color-error: var(--scheme-light, rgb(186 26 26)) var(--scheme-dark, rgb(255 180 171));
    --md-sys-color-on-error: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(105 0 5));
    --md-sys-color-error-container: var(--scheme-light, rgb(255 218 214)) var(--scheme-dark, rgb(147 0 10));
    --md-sys-color-on-error-container: var(--scheme-light, rgb(147 0 10)) var(--scheme-dark, rgb(255 218 214));
    --md-sys-color-background: var(--scheme-light, rgb(255 248 246)) var(--scheme-dark, rgb(26 17 15));
    --md-sys-color-on-background: var(--scheme-light, rgb(35 25 23)) var(--scheme-dark, rgb(241 223 218));
    --md-sys-color-surface: var(--scheme-light, rgb(255 248 246)) var(--scheme-dark, rgb(26 17 15));
    --md-sys-color-on-surface: var(--scheme-light, rgb(35 25 23)) var(--scheme-dark, rgb(241 223 218));
    --md-sys-color-surface-variant: var(--scheme-light, rgb(245 222 216)) var(--scheme-dark, rgb(83 67 63));
    --md-sys-color-on-surface-variant: var(--scheme-light, rgb(83 67 63)) var(--scheme-dark, rgb(216 194 188));
    --md-sys-color-outline: var(--scheme-light, rgb(133 115 110)) var(--scheme-dark, rgb(160 140 135));
    --md-sys-color-outline-variant: var(--scheme-light, rgb(216 194 188)) var(--scheme-dark, rgb(83 67 63));
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: var(--scheme-light, rgb(57 46 43)) var(--scheme-dark, rgb(241 223 218));
    --md-sys-color-inverse-on-surface: var(--scheme-light, rgb(255 237 232)) var(--scheme-dark, rgb(57 46 43));
    --md-sys-color-inverse-primary: var(--scheme-light, rgb(255 181 160)) var(--scheme-dark, rgb(143 76 56));
    --md-sys-color-primary-fixed: var(--scheme-light, rgb(255 219 209)) var(--scheme-dark, rgb(255 219 209));
    --md-sys-color-on-primary-fixed: var(--scheme-light, rgb(58 11 1)) var(--scheme-dark, rgb(58 11 1));
    --md-sys-color-primary-fixed-dim: var(--scheme-light, rgb(255 181 160)) var(--scheme-dark, rgb(255 181 160));
    --md-sys-color-on-primary-fixed-variant: var(--scheme-light, rgb(114 53 35)) var(--scheme-dark, rgb(114 53 35));
    --md-sys-color-secondary-fixed: var(--scheme-light, rgb(255 219 209)) var(--scheme-dark, rgb(255 219 209));
    --md-sys-color-on-secondary-fixed: var(--scheme-light, rgb(44 21 15)) var(--scheme-dark, rgb(44 21 15));
    --md-sys-color-secondary-fixed-dim: var(--scheme-light, rgb(231 189 178)) var(--scheme-dark, rgb(231 189 178));
    --md-sys-color-on-secondary-fixed-variant: var(--scheme-light, rgb(93 64 55)) var(--scheme-dark, rgb(93 64 55));
    --md-sys-color-tertiary-fixed: var(--scheme-light, rgb(245 225 167)) var(--scheme-dark, rgb(245 225 167));
    --md-sys-color-on-tertiary-fixed: var(--scheme-light, rgb(35 27 0)) var(--scheme-dark, rgb(35 27 0));
    --md-sys-color-tertiary-fixed-dim: var(--scheme-light, rgb(216 197 141)) var(--scheme-dark, rgb(216 197 141));
    --md-sys-color-on-tertiary-fixed-variant: var(--scheme-light, rgb(83 70 25)) var(--scheme-dark, rgb(83 70 25));
    --md-sys-color-surface-dim: var(--scheme-light, rgb(232 214 210)) var(--scheme-dark, rgb(26 17 15));
    --md-sys-color-surface-bright: var(--scheme-light, rgb(255 248 246)) var(--scheme-dark, rgb(66 55 52));
    --md-sys-color-surface-container-lowest: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(20 12 10));
    --md-sys-color-surface-container-low: var(--scheme-light, rgb(255 241 237)) var(--scheme-dark, rgb(35 25 23));
    --md-sys-color-surface-container: var(--scheme-light, rgb(252 234 229)) var(--scheme-dark, rgb(39 29 27));
    --md-sys-color-surface-container-high: var(--scheme-light, rgb(247 228 224)) var(--scheme-dark, rgb(50 40 37));
    --md-sys-color-surface-container-highest: var(--scheme-light, rgb(241 223 218)) var(--scheme-dark, rgb(61 50 47));
}
