:root {
    --theme-color: "White";
    --hue-rotate: 360deg;
    --md-sys-color-primary: var(--scheme-light, rgb(93 95 95)) var(--scheme-dark, rgb(255 255 255));
    --md-sys-color-surface-tint: var(--scheme-light, rgb(93 95 95)) var(--scheme-dark, rgb(198 198 199));
    --md-sys-color-on-primary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(47 49 49));
    --md-sys-color-primary-container: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(226 226 226));
    --md-sys-color-on-primary-container: var(--scheme-light, rgb(116 118 118)) var(--scheme-dark, rgb(99 101 101));
    --md-sys-color-secondary: var(--scheme-light, rgb(94 94 94)) var(--scheme-dark, rgb(200 198 198));
    --md-sys-color-on-secondary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(48 48 48));
    --md-sys-color-secondary-container: var(--scheme-light, rgb(228 226 226)) var(--scheme-dark, rgb(73 73 73));
    --md-sys-color-on-secondary-container: var(--scheme-light, rgb(100 100 100)) var(--scheme-dark, rgb(185 184 184));
    --md-sys-color-tertiary: var(--scheme-light, rgb(93 95 95)) var(--scheme-dark, rgb(255 255 255));
    --md-sys-color-on-tertiary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(47 49 49));
    --md-sys-color-tertiary-container: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(226 226 226));
    --md-sys-color-on-tertiary-container: var(--scheme-light, rgb(116 118 118)) var(--scheme-dark, rgb(99 101 101));
    --md-sys-color-error: var(--scheme-light, rgb(186 26 26)) var(--scheme-dark, rgb(255 180 171));
    --md-sys-color-on-error: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(105 0 5));
    --md-sys-color-error-container: var(--scheme-light, rgb(255 218 214)) var(--scheme-dark, rgb(147 0 10));
    --md-sys-color-on-error-container: var(--scheme-light, rgb(147 0 10)) var(--scheme-dark, rgb(255 218 214));
    --md-sys-color-background: var(--scheme-light, rgb(252 248 248)) var(--scheme-dark, rgb(20 19 19));
    --md-sys-color-on-background: var(--scheme-light, rgb(28 27 27)) var(--scheme-dark, rgb(229 226 225));
    --md-sys-color-surface: var(--scheme-light, rgb(252 248 248)) var(--scheme-dark, rgb(20 19 19));
    --md-sys-color-on-surface: var(--scheme-light, rgb(28 27 27)) var(--scheme-dark, rgb(229 226 225));
    --md-sys-color-surface-variant: var(--scheme-light, rgb(224 227 227)) var(--scheme-dark, rgb(68 71 72));
    --md-sys-color-on-surface-variant: var(--scheme-light, rgb(68 71 72)) var(--scheme-dark, rgb(196 199 200));
    --md-sys-color-outline: var(--scheme-light, rgb(116 120 120)) var(--scheme-dark, rgb(142 145 146));
    --md-sys-color-outline-variant: var(--scheme-light, rgb(196 199 200)) var(--scheme-dark, rgb(68 71 72));
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: var(--scheme-light, rgb(49 48 48)) var(--scheme-dark, rgb(229 226 225));
    --md-sys-color-inverse-on-surface: var(--scheme-light, rgb(244 240 239)) var(--scheme-dark, rgb(49 48 48));
    --md-sys-color-inverse-primary: var(--scheme-light, rgb(198 198 199)) var(--scheme-dark, rgb(93 95 95));
    --md-sys-color-primary-fixed: var(--scheme-light, rgb(226 226 226)) var(--scheme-dark, rgb(226 226 226));
    --md-sys-color-on-primary-fixed: var(--scheme-light, rgb(26 28 28)) var(--scheme-dark, rgb(26 28 28));
    --md-sys-color-primary-fixed-dim: var(--scheme-light, rgb(198 198 199)) var(--scheme-dark, rgb(198 198 199));
    --md-sys-color-on-primary-fixed-variant: var(--scheme-light, rgb(69 71 71)) var(--scheme-dark, rgb(69 71 71));
    --md-sys-color-secondary-fixed: var(--scheme-light, rgb(228 226 226)) var(--scheme-dark, rgb(228 226 226));
    --md-sys-color-on-secondary-fixed: var(--scheme-light, rgb(27 28 28)) var(--scheme-dark, rgb(27 28 28));
    --md-sys-color-secondary-fixed-dim: var(--scheme-light, rgb(200 198 198)) var(--scheme-dark, rgb(200 198 198));
    --md-sys-color-on-secondary-fixed-variant: var(--scheme-light, rgb(71 71 71)) var(--scheme-dark, rgb(71 71 71));
    --md-sys-color-tertiary-fixed: var(--scheme-light, rgb(226 226 226)) var(--scheme-dark, rgb(226 226 226));
    --md-sys-color-on-tertiary-fixed: var(--scheme-light, rgb(26 28 28)) var(--scheme-dark, rgb(26 28 28));
    --md-sys-color-tertiary-fixed-dim: var(--scheme-light, rgb(198 198 199)) var(--scheme-dark, rgb(198 198 199));
    --md-sys-color-on-tertiary-fixed-variant: var(--scheme-light, rgb(69 71 71)) var(--scheme-dark, rgb(69 71 71));
    --md-sys-color-surface-dim: var(--scheme-light, rgb(221 217 217)) var(--scheme-dark, rgb(20 19 19));
    --md-sys-color-surface-bright: var(--scheme-light, rgb(252 248 248)) var(--scheme-dark, rgb(58 57 57));
    --md-sys-color-surface-container-lowest: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(14 14 14));
    --md-sys-color-surface-container-low: var(--scheme-light, rgb(246 243 242)) var(--scheme-dark, rgb(28 27 27));
    --md-sys-color-surface-container: var(--scheme-light, rgb(241 237 236)) var(--scheme-dark, rgb(32 31 31));
    --md-sys-color-surface-container-high: var(--scheme-light, rgb(235 231 231)) var(--scheme-dark, rgb(42 42 42));
    --md-sys-color-surface-container-highest: var(--scheme-light, rgb(229 226 225)) var(--scheme-dark, rgb(53 52 52));
}