:root {
    --theme-color: "Yellow";
    --hue-rotate: 220deg;
    --md-sys-color-primary: var(--scheme-light, rgb(109 94 15)) var(--scheme-dark, rgb(219 198 110));
    --md-sys-color-surface-tint: var(--scheme-light, rgb(109 94 15)) var(--scheme-dark, rgb(219 198 110));
    --md-sys-color-on-primary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(58 48 0));
    --md-sys-color-primary-container: var(--scheme-light, rgb(248 226 135)) var(--scheme-dark, rgb(83 70 0));
    --md-sys-color-on-primary-container: var(--scheme-light, rgb(83 70 0)) var(--scheme-dark, rgb(248 226 135));
    --md-sys-color-secondary: var(--scheme-light, rgb(102 94 64)) var(--scheme-dark, rgb(209 198 161));
    --md-sys-color-on-secondary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(54 48 22));
    --md-sys-color-secondary-container: var(--scheme-light, rgb(238 226 188)) var(--scheme-dark, rgb(78 71 42));
    --md-sys-color-on-secondary-container: var(--scheme-light, rgb(78 71 42)) var(--scheme-dark, rgb(238 226 188));
    --md-sys-color-tertiary: var(--scheme-light, rgb(67 102 78)) var(--scheme-dark, rgb(169 208 179));
    --md-sys-color-on-tertiary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(20 55 35));
    --md-sys-color-tertiary-container: var(--scheme-light, rgb(197 236 206)) var(--scheme-dark, rgb(44 78 56));
    --md-sys-color-on-tertiary-container: var(--scheme-light, rgb(44 78 56)) var(--scheme-dark, rgb(197 236 206));
    --md-sys-color-error: var(--scheme-light, rgb(186 26 26)) var(--scheme-dark, rgb(255 180 171));
    --md-sys-color-on-error: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(105 0 5));
    --md-sys-color-error-container: var(--scheme-light, rgb(255 218 214)) var(--scheme-dark, rgb(147 0 10));
    --md-sys-color-on-error-container: var(--scheme-light, rgb(147 0 10)) var(--scheme-dark, rgb(255 218 214));
    --md-sys-color-background: var(--scheme-light, rgb(255 249 238)) var(--scheme-dark, rgb(21 19 11));
    --md-sys-color-on-background: var(--scheme-light, rgb(30 27 19)) var(--scheme-dark, rgb(232 226 212));
    --md-sys-color-surface: var(--scheme-light, rgb(255 249 238)) var(--scheme-dark, rgb(21 19 11));
    --md-sys-color-on-surface: var(--scheme-light, rgb(30 27 19)) var(--scheme-dark, rgb(232 226 212));
    --md-sys-color-surface-variant: var(--scheme-light, rgb(234 226 208)) var(--scheme-dark, rgb(75 71 57));
    --md-sys-color-on-surface-variant: var(--scheme-light, rgb(75 71 57)) var(--scheme-dark, rgb(205 198 180));
    --md-sys-color-outline: var(--scheme-light, rgb(124 119 103)) var(--scheme-dark, rgb(150 144 128));
    --md-sys-color-outline-variant: var(--scheme-light, rgb(205 198 180)) var(--scheme-dark, rgb(75 71 57));
    --md-sys-color-shadow: var(--scheme-light, rgb(0 0 0)) var(--scheme-dark, rgb(0 0 0));
    --md-sys-color-scrim: var(--scheme-light, rgb(0 0 0)) var(--scheme-dark, rgb(0 0 0));
    --md-sys-color-inverse-surface: var(--scheme-light, rgb(51 48 39)) var(--scheme-dark, rgb(232 226 212));
    --md-sys-color-inverse-on-surface: var(--scheme-light, rgb(247 240 226)) var(--scheme-dark, rgb(51 48 39));
    --md-sys-color-inverse-primary: var(--scheme-light, rgb(219 198 110)) var(--scheme-dark, rgb(109 94 15));
    --md-sys-color-primary-fixed: var(--scheme-light, rgb(248 226 135)) var(--scheme-dark, rgb(248 226 135));
    --md-sys-color-on-primary-fixed: var(--scheme-light, rgb(34 27 0)) var(--scheme-dark, rgb(34 27 0));
    --md-sys-color-primary-fixed-dim: var(--scheme-light, rgb(219 198 110)) var(--scheme-dark, rgb(219 198 110));
    --md-sys-color-on-primary-fixed-variant: var(--scheme-light, rgb(83 70 0)) var(--scheme-dark, rgb(83 70 0));
    --md-sys-color-secondary-fixed: var(--scheme-light, rgb(238 226 188)) var(--scheme-dark, rgb(238 226 188));
    --md-sys-color-on-secondary-fixed: var(--scheme-light, rgb(33 27 4)) var(--scheme-dark, rgb(33 27 4));
    --md-sys-color-secondary-fixed-dim: var(--scheme-light, rgb(209 198 161)) var(--scheme-dark, rgb(209 198 161));
    --md-sys-color-on-secondary-fixed-variant: var(--scheme-light, rgb(78 71 42)) var(--scheme-dark, rgb(78 71 42));
    --md-sys-color-tertiary-fixed: var(--scheme-light, rgb(197 236 206)) var(--scheme-dark, rgb(197 236 206));
    --md-sys-color-on-tertiary-fixed: var(--scheme-light, rgb(0 33 15)) var(--scheme-dark, rgb(0 33 15));
    --md-sys-color-tertiary-fixed-dim: var(--scheme-light, rgb(169 208 179)) var(--scheme-dark, rgb(169 208 179));
    --md-sys-color-on-tertiary-fixed-variant: var(--scheme-light, rgb(44 78 56)) var(--scheme-dark, rgb(44 78 56));
    --md-sys-color-surface-dim: var(--scheme-light, rgb(224 217 204)) var(--scheme-dark, rgb(21 19 11));
    --md-sys-color-surface-bright: var(--scheme-light, rgb(255 249 238)) var(--scheme-dark, rgb(60 57 48));
    --md-sys-color-surface-container-lowest: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(16 14 7));
    --md-sys-color-surface-container-low: var(--scheme-light, rgb(250 243 229)) var(--scheme-dark, rgb(30 27 19));
    --md-sys-color-surface-container: var(--scheme-light, rgb(244 237 223)) var(--scheme-dark, rgb(34 32 23));
    --md-sys-color-surface-container-high: var(--scheme-light, rgb(238 232 218)) var(--scheme-dark, rgb(45 42 33));
    --md-sys-color-surface-container-highest: var(--scheme-light, rgb(232 226 212)) var(--scheme-dark, rgb(56 53 43));
}
