button.DialogButton, button.TEWmsM70ZLEOxLAjDMpcv.DialogButton, button.DialogButton::after,
._1hhB2Wf7iExA15zh_lDQ_y ._3ydigb6zZAjJ0JCDgHwSYA,
._2foCkpRXhqq0UGVE50BWqj, .ip-YZhijAMZcuRoXBGiye, ._1TdaAqMFadi0UTqilrkelR,
.HijmccPB1BKyhOwhX1EVl, .HijmccPB1BKyhOwhX1EVl::after,
._1J21tLst5SEhBPkVRT53UV div, ._1J21tLst5SEhBPkVRT53UV,
.btn_grey_white_innerfade,
.btnv6_blue_hoverfade,
.account_manage_link,
._9fMwjaiixbDViVPurFAa4,
._3ayYOCw_ZCm0rF1vDVmwfO .rG9v6g24n_n7jdI7rK5zY ._3OIDlxU9x7bhWVKKi8wwaH ._39Ldnfxr7DlhXHZZgBVF4W,
._3ayYOCw_ZCm0rF1vDVmwfO .rG9v6g24n_n7jdI7rK5zY ._3OIDlxU9x7bhWVKKi8wwaH ._15P7ohP3vq0SmtT5d274y1,
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU,
._35_OgqfHHZfSzTYfv367K6, ._1kCN0pAntrcGCSmcc-vYdk,
._3zfQA8bEKpisPtsyT4SovP {
    transition: 
        all 350ms var(--animation-expressive-fast-spatial),
        color 150ms var(--animation-expressive-fast-effects),
        background 150ms var(--animation-expressive-fast-effects) !important;
}
._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi,
._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi svg,
.DialogControlsSection ._2XSsNSGcWjGZ6z3fvqaRd5._3vgH-W3sYStLJYfV4JgE5b button.DialogButton,
.DialogControlsSection.RoSh6WoygUX6LLAoB20f3 button.DialogButton,
.DialogToggleField_Option,
._24Y_0sMrz5EywcAsFUstI1 {
    transition: 
        all 350ms var(--animation-standart-fast-spatial) !important;
}