button.DialogButton, button.TEWmsM70ZLEOxLAjDMpcv.DialogButton, button.DialogButton::after /* Basic */ {
    transition: var(--animation-basic-slow);
}
.HijmccPB1BKyhOwhX1EVl, .HijmccPB1BKyhOwhX1EVl::after /* Segmented */ {
    transition: var(--animation-basic-slow);
}

._2foCkpRXhqq0UGVE50BWqj, .ip-YZhijAMZcuRoXBGiye, ._1TdaAqMFadi0UTqilrkelR,
._1J21tLst5SEhBPkVRT53UV div, ._1J21tLst5SEhBPkVRT53UV { /* Forgot... */
    transition: var(--animation-basic-slow);
}