._7EGqd8bdiXJBd2fj5Hh8r, ._2LyGIHuQ8SFKb5T262YUvg {
    transition: var(--animation-basic-slow);
}

.DesktopUI .Oo5JPcEk_erKEYAzYp2n {
    transition: var(--animation-basic-slow);
}

._1u5y7VbwvOwncjMsMqnFUz {
    animation:
        cardAnim 750ms var(--animation-standart-slow-spatial);
    transform-origin: top;
}

@keyframes cardAnim {
    0% {
        max-height: 0px;
    }
    100% {
        max-height: 500px;
    }
}