._2yAm5LY_eu-Vg_52l0HFlM, /* Modal */
html._14wqdluDeDnnEcg3OSLEmd .PP7LM0Ow1K5qkR8WElLpt /* Root */ {
    animation:
        opacity 150ms var(--animation-standart-fast-spatial),
        openContextMenu 500ms var(--animation-standart-default-spatial);
    transform-origin: top;
}

@keyframes openContextMenu {
    0% {
        opacity: 0;
    }
    /* 1% {
        opacity: 0.8;
        transform: scale(1, 0.5);
    } */
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}