._2yAm5LY_eu-Vg_52l0HFlM, /* Modal */
html._14wqdluDeDnnEcg3OSLEmd .PP7LM0Ow1K5qkR8WElLpt /* Root */ {
    animation: opacity var(--animation-duration-short2) ease, openContextMenu var(--animation-duration-medium2) var(--animation-easing-standart-decelerate);
    transform-origin: top;
}

@keyframes openContextMenu {
    0% {
        opacity: 0.0;
        transform: scale(1, 1);
    }
    1% {
        opacity: 0.8;
        transform: scale(1, 0.5);
    }
}