._2yAm5LY_eu-Vg_52l0HFlM, /* Modal */
html._14wqdluDeDnnEcg3OSLEmd .PP7LM0Ow1K5qkR8WElLpt /* Root */ {
    animation:
        opacity 150ms var(--animation-standart-fast-spatial),
        openContextMenu 500ms var(--animation-standart-default-spatial);
    transform-origin: top;
}

/* Anim Fix */
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU ._1dgAMymUAUYzUcZjUjOFm7 .Woh0kBQCmatzC1daBX9i6 {
    transform-origin: left;
    transform: scale(0, 1);
}
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU ._1dgAMymUAUYzUcZjUjOFm7._1v65xCmMo53Ju6vCXk4U0_ .Woh0kBQCmatzC1daBX9i6 {
    transform: scale(1, 1);
}

/* Buttons */
._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem,
.EDl_mzaY3WxkgmYVD8W4d ._1BAKXmqQdWRWmWX9_CbhuY._2_iY4UJOlWDXNQ21c-a3hD.DialogCheckbox_Container {
    transition:
        color 150ms var(--animation-expressive-fast-effects),
        background 150ms var(--animation-expressive-fast-effects),
        border-radius 150ms var(--animation-expressive-fast-spatial);
}

@keyframes openContextMenu {
    0% {
        opacity: 0;
    }
    /* 1% {
        opacity: 0.8;
        transform: scale(1, 0.5);
    } */
    100% {
        opacity: 1;
        /* transform: scale(1, 1); */
    }
}