/* -- PROFILE -- */
/* Valve Employee */
body .profile_header_valve_employee {
    border-radius: var(--corner-radius-medium);
}
body .profile_header_valve_employee_icon {
    display: none;
}
body .profile_header_valve_employee_desc {
    padding: 5px 10px 10px 5px;
}
/* Nicknames */
body .popup_block_new {
    box-shadow: var(--elevated-shadow);
    border-radius: var(--corner-radius-small);
}
body .popup_block_new#NamePopup .popup_body {
    border: unset;
    padding: 12px;
    border-radius: var(--corner-radius-small);
}
body .popup_block_new .popup_body #NamePopupClearAliases > a {
    color: var(--md-sys-color-outline);
}
body .popup_block_new .popup_body #NamePopupClearAliases > a:hover {
    color: var(--md-sys-color-on-surface);
}
/* Columns */
html .profile_customization_header,
html body .profile_customization,
html body .profile_rightcol,
html body .profile_comment_area {
    border-radius: var(--corner-radius-small);
}
/* Badge */
html body .profile_header_badge {
    border-radius: var(--corner-radius-medium);
}
/* VAC Ban */
body .profile_ban_status {
    border-radius: var(--corner-radius-medium);
    /* padding: 8px; */
}
body .profile_ban .profile_ban_info *:not(a) {
    display: none;
}
/* Friends */
body .profile_topfriends .friendBlock {
    border-radius: var(--corner-radius-medium);
}
body .friendBlock .friendPlayerLevel {
    margin: 2px 6px 0 0;
}
body .friendBlock .friendBlockContent {
    height: 100%;
    align-content: center;
}
/* Games */
body .recent_game {
    border-radius: var(--corner-radius-medium);
}
body .recent_game .game_info .game_info_cap img,
body .game_info_badge_border,
body .recent_game .game_info_stats, body .favoritegame_showcase .game_info_stats,
body .showcase_content_bg,
body .screenshot_showcase_screenshot {
    border-radius: var(--corner-radius-small);
    box-shadow: unset;
}
/* Tooltip */
body .community_tooltip,
body ._2FxbHJzYoH024ko7zqcJOf {
    box-shadow: var(--elevated-shadow);
    padding: 8px 12px;
    border: unset;
    border-radius: var(--corner-radius-extra-small);
    font-size: var(--font-body-small-size);
    font-weight: var(--font-body-small-weight);
    z-index: 9999;
}
/* Comments */
body .profile_comment_area .commentthread_comment_container {
    padding-inline: unset;
}
body .profile_comment_area .commentthread_comment_text {
    padding-right: 8px;
}
/* -- EDIT PROFILE -- */
/* Header */
body .profile_small_header_texture {
    border-bottom-left-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
}
/* Containers */
body ._1UoAvYFtO-OEv3DMwZCL8A,
body .jnA47pnC2fs47Uo4apcHu,
body .n1M1oAE4l0f1dxNm_ux2s ._20EDLy9ziFgZhS3jI4b1FG,
body .profile_showcase_selector,
body ._2MfLNiVZp5dIGmdFChe4Dg {
    border-radius: var(--corner-radius-small);
}
body .profile_showcase_selector {
    border-top: unset;
    border-bottom: unset;
}
body ._20HXbZxc7PM5Cr1hOzK2SC ._2sArlom6cS_SfcD2RzzHW2 ._2N5uyja8fIs2OYuVFmwXLH {
    margin-top: 12px;
}
/* Avatars */
body ._29CGQrIvjYllKwVQKe8d8R:hover {
    box-shadow: var(--elevated-shadow);
    filter: unset;
}
/* Profile Bg & MiniBg & Game Profile */
body ._189ERe_A-jhzSSRw4f2Hw ._2Zeggw-2qC5ma2qpjzHRlF,
body ._1kB6_rUcA_VRp7MER6E0Vi ._1JFlRrkeYJegFK8xCBRfYw._19sKX1Sg9icPcVJAPT7kN0,
body ._1JFlRrkeYJegFK8xCBRfYw img,
body ._1kB6_rUcA_VRp7MER6E0Vi:hover ._1JFlRrkeYJegFK8xCBRfYw,
body ._1JFlRrkeYJegFK8xCBRfYw ._3PAmyizPC3zW2TZLRI8I9P video,
body ._20HXbZxc7PM5Cr1hOzK2SC ._2sArlom6cS_SfcD2RzzHW2>div>div>img,
body ._3NIiYdehUu4wAz6rNXR_OB ._2GvFUUI49ePmg62crk2qDO.Gd3-pJ25GXL-bDaQAnChb,
body ._2GvFUUI49ePmg62crk2qDO img,
body ._3NIiYdehUu4wAz6rNXR_OB:hover ._2GvFUUI49ePmg62crk2qDO {
    border-radius: var(--corner-radius-small);
}
body ._2Zeggw-2qC5ma2qpjzHRlF img {
    height: 100%;
}
body ._189ERe_A-jhzSSRw4f2Hw:hover ._2Zeggw-2qC5ma2qpjzHRlF,
body ._1kB6_rUcA_VRp7MER6E0Vi:hover ._1JFlRrkeYJegFK8xCBRfYw,
body ._39ksjd1_LKKPt0CIOhnMF7._2aQ08chNRS9DgKjACdNLuA:hover ._36oStJXlvGWLdFxYUgNyg-,
body ._3NIiYdehUu4wAz6rNXR_OB:hover ._2GvFUUI49ePmg62crk2qDO,
body ._1yHxtA_qbj9xWiLkUiovpE:hover ._1C_n640PvrV_-DCXwOeCZY {
    box-shadow: var(--elevated-shadow);
    filter: unset;
}
/* Dropdowns */
body .ProfilePrivacyHeader .ProfilePrivacyDropDown {
    text-decoration: unset;
}
/* Showcase Manager */
body .customization_edit_area {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
body .showcase_selection_pre {
    border-top-left-radius: var(--corner-radius-full);
}
body .showcase_selection_post {
    border-top-right-radius: var(--corner-radius-full);
}
body .showcase_openslot_placeholder,
body .showcase_slot.openslot,
body .showcase_gamecollector_game img.game_capsule,
body .item_showcase_item,
body .favoritegame_showcase_game .favorite_game_cap, body .favoritegame_showcase_game .favorite_game_cap img {
    border-radius: var(--corner-radius-small);
}
body .showcase_slot.openslot:hover {
    border-style: solid;
}
body .profile_customization_edit_icon.bluebox {
    border-radius: var(--corner-radius-full);
    /* margin-top: 8px; */
}
body .game_info_badge_border {
    border-style: none;
    border-width: 0px;
}
/* Easier Publicly Visible Images */
.publishedfile_popup_screenshot,
.publishedfile_popup_screenshot > img {
    min-height: 96px;
    object-fit: cover;
}

/* #BatchScreenshotManagement {
    display: flex;
    flex-direction: column;
    gap: 4px;
} */
#mainContents_sharedfiles .imgWallItem,
#mainContents_sharedfiles .imageWallRow a.profile_media_item, #mainContents_sharedfiles .video_item a.profile_media_item {
    min-height: 96px;
}
#mainContents_sharedfiles .imageWall4Split .splitSubs .splitSubSubs {
    margin-top: 8px;
}


/* Bottom Gradient */
/* .profile_content.has_profile_background::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 5px, rgba(0, 0, 0, 0) 50px, rgb(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 5px, rgba(0, 0, 0, 0) 50px, rgb(0, 0, 0, 0) 100%);
    pointer-events: none;
    user-select: none;
} */